<div class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid">
        <div class="text-center">
          <div>
            <h1>Successfully Save As Draft !!!</h1>
          </div>
          <p class="text-dark mb-5 lead"></p>
          <p class="text-black-50 mb-0">
            It looks like one of the  developers fell asleep...
          </p>
          <a [routerLink]="/dashboard/requisition/requisition-list" style="cursor: pointer">← Go To Requisition List</a>
          <a [routerLink]="/dashboard" style="cursor: pointer"> Go To Dashboard</a>
        </div>
      </div>
    </div>
  </div>
  