<!--NEW HOMEPAGE CODE STARTS-->

<section class="homepage">
  <section class="hero-section">
    <div class="display-table">
      <div class="display-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-9">
              <div class="intro">
                <h3 class="title">
                  An Easy, User Friendly & Complete Solution
                </h3>
                <p class="details">
                  We are providing powerful tools to manage your educational
                  institute, cloud based integrated system for teachers,
                  students and guardians through web and mobile apps. Our
                  content based education module can ahead you than others.
                </p>
                <div class="btn-container login-btn-container">
                  <button
                    routerLink="/login"
                    type="button"
                    class="btn btn-outline-primary common-btn"
                  >
                    Login Now
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-3">
              <div class="intro-img">
                <img
                  class="happy-school"
                  src="../../../../assets/img/homepage/happy-school.png"
                />
                <img
                  class="sun-smile"
                  src="../../../../assets/img/homepage/sun-smile.png"
                />
                <!-- <img class="bubbles" src="../../../../assets/img/homepage/pngwing.com.png" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="why-chose-us-section">
    <div class="container">
      <div class="row">
        <div class="col-md-9 m-auto background-color-wrapper">
          <div class="item-container">
            <h3 class="title">Why Choose Doer School?</h3>
            <p>
              Doer School provides a simple, mobile friendly view to access
              basic features. Nothing to install, no upgrades!The most used
              features of web application are available for your quick use. It
              switches the interface automatically when accessed through mobile
              browsers. There is nothing to install or upgrade. Just browse it
              from your mobile browser as you do in your laptop or desktop
              computer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="features-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="item-container">
            <h3 class="title">Our features</h3>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="img-container">
              <img src="../../../../assets/img/homepage/student-reading.png" />
            </div>
            <h3 class="title">User Portal</h3>
            <p class="details">
              Through this portal Students and Parents should important
              information like attendance, fees, class routine, class notes,
              results etc. On a single screen. Here we integrated a fees payment
              system also. Our blog can give facilities to discuss among parents
              and students....
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="img-container">
              <img
                src="../../../../assets/img/homepage/settings.png"
                style="width: 107px"
              />
            </div>
            <h3 class="title">Doer School</h3>
            <p class="details">
              We are providing a cloud Doer School for your school not just a
              simple school management system. Every module in our Doer School
              has user-friendly Dashboard with Graphical Representations . Our
              aim is to provide best solution for you school at minimum cost....
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="item-wrapper">
            <div class="img-container">
              <img
                src="../../../../assets/img/homepage/mobile-app.png"
                style="width: 222px"
              />
            </div>
            <h3 class="title">Mobile Apps</h3>
            <p class="details">
              After web application, its time for schools to have a mobile app
              to facilitate students, guardians, teachers and employees. Through
              this apps everyone will get instant notification , messages, news,
              notice, homework, remarks and results...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="view-web-portal-section">
    <div class="container-fluid view-p-0">
      <div class="row">
        <div class="col-md-6 m-auto">
          <div class="item-container">
            <h3 class="title">Intregated Solution</h3>
            <p class="details">
              Web Portal integrated with Cloud ERP (School Management System).
            </p>
            <a href="javascript:void(0)" class="info-link">
              SCHOOL ERP team is ready to present the Cloud ERP(School
              Management System) and Mobile App. Please click here to inform us
              about you.</a
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="web-portal-btn-container text-center">
            <button
              routerLink="/login"
              type="button"
              class="btn btn-outline-dark"
            >
              Go To Web Portal
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sponsors-section">
    <div class="container">
      <h3>{{ "Trusted Partners" | translate }}</h3>
      <div class="grid-wrapper">
        <div class="item text-center">
          <img
            src="../../../../assets/img/schools/shorifullah-high-school.png"
            alt="Our Partners"
            class="img-fluid"
          />
        </div>
        <div class="item text-center">
          <img
            src="../../../../assets/img/schools/shorifullah-high-school.png"
            alt="Our Partners"
            class="img-fluid"
          />
        </div>
        <div class="item text-center">
          <img
            src="../../../../assets/img/schools/shorifullah-high-school.png"
            alt="Our Partners"
            class="img-fluid"
          />
        </div>
        <div class="item text-center">
          <img
            src="../../../../assets/img/schools/shorifullah-high-school.png"
            alt="Our Partners"
            class="img-fluid"
          />
        </div>
        <div class="item text-center">
          <img
            src="../../../../assets/img/schools/shorifullah-high-school.png"
            alt="Our Partners"
            class="img-fluid"
          />
        </div>
        <div class="item text-center">
          <img
            src="../../../../assets/img/schools/shorifullah-high-school.png"
            alt="Our Partners"
            class="img-fluid"
          />
        </div>
        <div class="item text-center">
          <img
            src="../../../../assets/img/schools/shorifullah-high-school.png"
            alt="Our Partners"
            class="img-fluid"
          />
        </div>
        <div class="item text-center">
          <img
            src="../../../../assets/img/schools/shorifullah-high-school.png"
            alt="Our Partners"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-app-section">
    <div class="container main">
      <div class="row px-2">
        <div class="col-lg-5">
          <div class="overflow-container">
            <div class="overflow-item">
              <p class="details">
                {{
                  "Call us for further information School ERP customer care is here to help you anytime."
                    | translate
                }}
              </p>
              <i class="fa-solid fa-phone"></i>
              <div class="contacts">
                <p class="call-us">
                  {{ "CALL US NOW" | translate }}
                </p>
                <h5 class="phone">{{ "+8801 200 333 800" | translate }}</h5>
              </div>
              <p class="email"><b>help@schoolerp.com</b></p>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="app-part">
            <div class="small-schoolerp">
              <img src="../../../../assets/img/homepage/book-logo-small.png" />
              <p>School ERP</p>
            </div>
            <div class="row logo-resize">
              <div class="col-md-8" style="margin: auto 0 0 0">
                <h3>{{ "School ERP mobile App" | translate }}</h3>
                <p>{{ "Make smart decisions" | translate }}</p>
                <div class="app-logo-container">
                  <img
                    class="download-app-logo"
                    src="../../../../assets/img/logo/google-play.png"
                  />
                  <img
                    class="download-app-logo"
                    src="../../../../assets/img/logo/app-store.png"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <img
                  id="app-barcode-img"
                  src="../../../../assets/img/logo/app-barcode.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="payment-options-section">
    <div class="container">
      <div>
        <h3>{{ "Payment Options" | translate }}</h3>
        <div class="platforms">
          <h5>{{ "Accepted Cards" | translate }}</h5>
          <div class="wrapper-1">
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/visa.png"
                alt="..."
                class="img-fluid"
                style="height: auto"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/master-card.png"
                alt="..."
                class="img-fluid"
                style="height: auto"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/dbbl-new.png"
                alt="..."
                class="img-fluid"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/qcash.png"
                alt="..."
                class="img-fluid"
                style="width: 55px"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/fast-cash.png"
                alt="..."
                class="img-fluid"
                style="width: 55px"
              />
            </div>
          </div>
        </div>

        <div class="platforms">
          <h5>{{ "Mobile Banking Platforms" | translate }}</h5>
          <div class="wrapper-1">
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/bkash.png"
                alt="..."
                class="img-fluid"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/nagad.png"
                alt="..."
                class="img-fluid"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/rocket.png"
                alt="..."
                class="img-fluid"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/mycash.png"
                alt="..."
                class="img-fluid"
                style="height: 44px"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/upay.png"
                alt="..."
                class="img-fluid"
                style="width: 55px"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/t-cash.png"
                alt="..."
                class="img-fluid"
                style="width: 57px"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/ipay.png"
                alt="..."
                class="img-fluid"
                style="height: 46px"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/sure-cash.png"
                alt="..."
                class="img-fluid flat-img"
              />
            </div>
          </div>
        </div>

        <div class="platforms internet-sms-banking">
          <h5>{{ "Internet SMS Banking" | translate }}</h5>
          <div class="wrapper-1">
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/city-touch.png"
                alt="..."
                class="img-fluid"
                style="width: 60px"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/ok-wallet.png"
                alt="..."
                class="img-fluid"
                style="width: auto"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/brac.png"
                alt="..."
                class="img-fluid flat-img"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/bank-asia.png"
                alt="..."
                class="img-fluid flat-img"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/ab-bank.png"
                alt="..."
                class="img-fluid flat-img"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/mutual-trust.png"
                alt="..."
                class="img-fluid flat-img"
              />
            </div>
            <div class="item text-center">
              <img
                src="../../../../assets/img/payment-options/dmoney.png"
                alt="..."
                class="img-fluid flat-img"
                style="height: 35px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-section">
    <div class="row container m-auto">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="contact">
              <h3 class="common-title title">Contacts</h3>
              <div class="details">
                <p class="email">Email : <span>schoolerp@mail.com</span></p>
                <p class="phone">Phone : <span>+8801761222222</span></p>
              </div>
            </div>
            <div class="address">
              <h3 class="common-title title">Address</h3>
              <div class="details">
                <p>Dilkusha, Motijheel, Dhaka</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="request-form">
              <h3 class="common-title title">Request for Demo</h3>
              <div class="form">
                <div class="input-group">
                  <input
                    #applicantNameEn
                    type="text"
                    class="form-control"
                    name="applicantNameEn"
                    id="applicantNameEn"
                    placeholder="Name in English "
                    autocomplete="off"
                  />
                </div>
                <div class="input-group">
                  <input
                    #mobileNo
                    type="text"
                    class="form-control"
                    name="mobileNo"
                    id="mobileNo"
                    placeholder="Mobile No"
                    autocomplete="off"
                    maxlength="14"
                    required
                  />
                </div>
                <div class="input-group">
                  <input
                    type="email"
                    #email
                    class="form-control"
                    name="emailId"
                    id="email"
                    placeholder="Email"
                    autocomplete="off"
                  />
                </div>
                <div class="btn-container">
                  <button
                    type="button"
                    class="btn btn-outline-primary common-btn request-form-submit-btn"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>

<!--NEW HOMEPAGE CODE ENDS-->

<ngx-spinner
  bdColor="{{ spinnerConfig.bdColor }}"
  size="{{ spinnerConfig.size }}"
  color="{{ spinnerConfig.color }}"
  type="{{ spinnerConfig.type }}"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
