<section id="appViewPage">
    <!-- Create Part Start -->
    <section id="create-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="create-header mb-3">
                        <h4 class="just-grd">
                            {{ 'SMS_Feature_Information' | translate }}
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6">


                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <p>{{ 'Name (English)' | translate }} <span>*</span></p>
                            </div>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="entity.nameEn" name="nameEn" id="nameEn"
                            placeholder="{{ 'SMS Service Name' | translate }}" required [disabled]="true" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <p>{{ 'Name (Bangla)' | translate }} <span>*</span></p>
                            </div>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="entity.nameBn" name="nameBn" id="nameEn"
                            placeholder="{{ 'SMS Service Name' | translate }}" required [disabled]="true" />
                    </div>
                </div>

            </div>
            <hr>

            <div class="row">
                <!-- <div class="create-details">
                    <div class="create-details-headline">
                        <h5>{{ 'SMS_Service_Information' | translate }}</h5>
                    </div>
                </div> -->
                <div class="col-lg-6">
                    <div class="create-details">
                        <div class="create-details-headline">
                            <h5>{{ 'SMS_Feature_Information' | translate }}</h5>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <p>{{ 'SMS_Language' | translate }} : <span>*</span></p>
                            </div>
                        </div>
                        <ng-select [(ngModel)]="entity.smsLanguage"
                            placeholder="{{'Select_Email_Language_PH' |translate}}">
                            <ng-option *ngFor="let language of languageList" [value]="language.value">
                                {{local === 'en' ? language.nameEn : language.nameBn}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="create-details">
                        <div class="create-details-headline">
                            <h5>{{ 'Email_Feature_Information' | translate }}</h5>
                        </div>
                    </div>


                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <p>{{ 'Email_Language' | translate }} : <span>*</span></p>
                            </div>
                        </div>
                        <ng-select [(ngModel)]="entity.emailLanguage"
                            placeholder="{{'Select_Email_Language_PH' |translate}}">
                            <ng-option *ngFor="let language of languageList" [value]="language.value">
                                {{local === 'en' ? language.nameEn : language.nameBn}}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <p>{{ 'Email_Subject' | translate }} <span>*</span></p>
                            </div>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="entity.emailSubject" name="emailSubject"
                            id="emailSubject" placeholder="{{ 'SMS Service Name' | translate }}" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- DRAGABLE TEXT-->
                    <div class="create-details dropable">
                        <div class="templateParameter" (dragover)="allowDrop($event)">
                            <!-- <h4 class="templateParameterHeading"> {{'Parameters' | translate}} </h4> -->
                            <div class="col-6">
                                <div class="all-btn-box" style="margin-bottom: 10px;">
                                    <button type="button" class="btn btn-outline-success"
                                        (click)="filterParameterList()">
                                        <i class="fas fa-search"></i>&nbsp;&nbsp;
                                        {{ 'Search' | translate }}
                                    </button>
                                </div>
                            </div>
                            <ul class="move myUl">
                                <li *ngFor="let templateParameter of templateParameterList" draggable="true"
                                    id="{{templateParameter.parameterValue}}" (dragstart)="drag($event)" class="myLi">
                                    <button title="{{templateParameter.nameEn}}"
                                        class="btn btn-outline-info">{{local === 'en' ? templateParameter.nameEn : templateParameter.nameBn}}</button>
                                </li>
                            </ul>

                            <h5>*{{'Drag_The_Parameters_Into_Template_Text' | translate}}</h5>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{ 'Template_Text(Bangla)' | translate }} <span>*</span></p>
                                        </div>
                                    </div>
                                    <textarea #smsTemplateTextBn [(ngModel)]=entity.smsTemplateTextBn
                                        (drop)="dropIntoSMSBn($event)" (dragover)="allowDrop($event)" id="droppable"
                                        placeholder="{{'Enter_Template_Here' |translate}}" [rows]="4">
                                                                                                                                                                </textarea>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{ 'Template_Text(English)' | translate }} <span>*</span></p>
                                        </div>
                                    </div>
                                    <textarea #smsTemplateTextEn [(ngModel)]=entity.smsTemplateTextEn
                                        (drop)="dropIntoSMSEn($event)" (dragover)="allowDrop($event)" id="droppable"
                                        placeholder="{{'Enter_Template_Here' |translate}}" [rows]="4">
                                                                                                            </textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{ 'Template_Text(Bangla)' | translate }} <span>*</span></p>
                                        </div>
                                    </div>
                                    <textarea #emailTemplateTextBn [(ngModel)]=entity.emailTemplateTextBn
                                        (drop)="dropIntoEmailBn($event)" (dragover)="allowDrop($event)" id="droppable"
                                        placeholder="{{'Enter_Template_Here' |translate}}" [rows]="4">
                                                                                                                                    </textarea>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{ 'Template_Text(English)' | translate }} <span>*</span></p>
                                        </div>
                                    </div>
                                    <textarea #emailTemplateTextEn [(ngModel)]=entity.emailTemplateTextEn
                                        (drop)="dropIntoEmailEn($event)" (dragover)="allowDrop($event)" id="droppable"
                                        placeholder="{{'Enter_Template_Here' |translate}}" [rows]="4">
                                                                                                                                            </textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- DRAGABLE TEXT-->
                </div>
            </div>




        </div>
    </section>
    <!-- Create Part End -->

    <!-- Tab Btn Info Part Start -->
    <section id="btn-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="all-btn-box"><button type="button" (click)="goBack()" class="btn btn-outline-info">
                            <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;
                            {{ 'Go Back' | translate }}
                        </button>
                        <button type="button" (click)="updateSmsService()" class="btn btn-outline-success">
                            <i class="fas fa-save"></i>&nbsp;&nbsp;
                            {{ 'Update' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tab Btn Info Part End -->
</section>
