<section id="appViewPage">
    <form action="">
        <!-- View Tab Info Part Start -->
        <section id="view-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="view-header main-title">
                            <h4 class="just-grd">
                                View Education Shift
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="viewtab-details">
                            <div class="field-wrapper">
                                <div class="field-label">
                                    <p>Education System</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>Intermediate and Secondary Education</p>
                                </div>
                            </div>
                            <div class="field-wrapper">
                                <div class="field-label">
                                    <p>Shift Name (English)</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>{{entity.nameEnglish}}</p>
                                </div>
                            </div>
                            <div class="field-wrapper">
                                <div class="field-label">
                                    <p>Status</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>{{entity.status}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="viewtab-details">
                            <div class="field-wrapper">
                                <div class="field-label">
                                    <p>Education Curriculum</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>National Curriculum and Textbook Board</p>
                                </div>
                            </div>
                            <div class="field-wrapper">
                                <div class="field-label">
                                    <p>Shift Name (Bangla)</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>{{entity.nameBangla}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- View Tab Info Part End -->

        <!-- Tab Btn Info Part Start -->
        <section id="btn-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="all-btn-box">
                            <button type="button" class="btn btn-outline-info" (click)="goToEdit()">
                                <i class="fas fa-edit"></i>&nbsp;&nbsp;
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tab Btn Info Part End -->
    </form>
</section>
