@import "../../../../../../common/shared/styles/all-common.scss";

#appViewPage {
    @include cmn-bg;

    #view-main {
        padding: 15px 0px 25px;

        /* common for this component */
        .input-group {
            .input-group-prepend {
                .input-group-text {
                    border-radius: 0px;
                }

                .input-gt {
                    width: auto;
                    background-color: #18181829;
                    padding: 10px 15px;
                    cursor: pointer;
                }
            }
        }

        .form-control {
            border-radius: 0px;
        }

        /* common for this component */

        .view-header {
            position: relative;
            text-align: center;

            h4 {
                font-weight: 700;
                font-size: 26px;
            }
        }

        .viewtab-details {
            .viewtab-details-headline {
                padding: 15px 0px 15px 0px;

                h5 {
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }

        .viewtab-details-table {
            overflow: auto;
        }
    }
}