.classpath
.project
.settings
.gradle
log
war
build
clients/ump-portal/dist
.metadata
.sonarlint
.sonar
.DS_Store
.recommenders
.idea
bin
RemoteSystemsTempFiles
node_modules
__pycache__
pyenv
*.log
*.attach
*.rdb
output
deployment-dist
target
.vscode
UMP_PORTAL_Test_Reports
