<section id="appViewPage">
  <form action="">
    <!-- View Tab Info Part Start -->
    <section id="view-main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="view-header main-title">
              <h4 class="just-grd">
                {{ "View_Education_Subject" | translate }}
              </h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="viewtab-details">
              <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "Name" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ locale === "en" ? educationSubjectViewResponseBody.nameEn : educationSubjectViewResponseBody.nameBn }}
                  </p>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "subject_code" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ educationSubjectViewResponseBody.subjectCode | translate }}
                  </p>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "subject_type" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ educationSubjectViewResponseBody.subjectType | translate }}
                  </p>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "Education_System_Name" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ locale === "en" ? educationSubjectViewResponseBody.educationSystemNameEn : educationSubjectViewResponseBody.educationSystemNameBn }}
                  </p>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "Education_Curriculum_Name" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ locale === "en" ? educationSubjectViewResponseBody.educationCurriculumNameEn : educationSubjectViewResponseBody.educationCurriculumNameBn }}
                  </p>
                </div>
              </div>
              <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "Status" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ educationSubjectViewResponseBody.status | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="viewtab-details">
              <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "total_mark" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ educationSubjectViewResponseBody.subjectMark.totalMarks | localNumber }}
                  </p>
                </div>
              </div>

              <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "mcq_marks" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ educationSubjectViewResponseBody.subjectMark.mcqMarks | localNumber }}
                  </p>
                </div>
              </div>
              
               <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "written_marks" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ educationSubjectViewResponseBody.subjectMark.writtenMarks | localNumber }}
                  </p>
                </div>
              </div>
             
              <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "practical_marks" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ educationSubjectViewResponseBody.subjectMark.practicalMarks | localNumber }}
                  </p>
                </div>
              </div>
              
               <div class="field-wrapper">
                <div class="field-label">
                  <p>{{ "viva_marks" | translate }}</p>
                </div>
                <div class="field-divider">
                  <p>:</p>
                </div>
                <div class="field-value">
                  <p>
                    {{ educationSubjectViewResponseBody.subjectMark.vivaMarks | localNumber }}
                  </p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- View Tab Info Part End -->

    <!-- Tab Btn Info Part Start -->
    <section id="btn-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="all-btn-box">
              <button
                type="button"
                id="automation-438"
                class="btn btn-outline-info"
                (click)="goBack()"
              >
                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;
                {{ "Go Back" | translate }}
              </button>
              <button
                type="button"
                (click)="editEducationSubjectInfo()"
                id="automation-439"
                class="btn btn-outline-warning"
              >
                <i class="fa fa-edit"></i>&nbsp;&nbsp;
                {{ "Go_To_Update" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Tab Btn Info Part End -->
  </form>
</section>

<ngx-spinner
  bdColor="{{ spinnerConfig.bdColor }}"
  size="{{ spinnerConfig.size }}"
  color="{{ spinnerConfig.color }}"
  type="{{ spinnerConfig.type }}"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
