<section id="appViewPage">
    <form #updateEducationSubject="ngForm" novalidate autocomplete="off">
        <!-- Create Part Start -->
        <section id="create-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="create-header main-title">
                            <h4 class="just-grd">
                                {{ "Update_Education_Subject" | translate }}
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- principal and accountant -->

                <div class="row mt-5">
                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>
                                        {{ "subject_name_en" | translate }}
                                        <span>*</span>
                                    </p>
                                </div>
                            </div>
                            <input #nameEn #name_en="ngModel" type="text" class="form-control" [pattern]="nameEnPattern" [(ngModel)]="educationSubjectEditRequestBody.nameEn" name="nameEn" id="nameEn" placeholder="{{ 'subject_name_en' | translate }}" required />
                        </div>
                        <div [hidden]="name_en.valid || name_en.pristine" class="error-box">
                            <div class="error-message">
                                <div [hidden]="!name_en.hasError('pattern')">
                                    Pleae input valid name and dont use 0-9, !, @, $, %, ^ ,* etc
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>
                                        {{ "subject_name_bn" | translate }}
                                    </p>
                                </div>
                            </div>
                            <input #nameBn #name_bn="ngModel" type="text" class="form-control" pattern="[ঀ-৿\s:]*" [(ngModel)]="educationSubjectEditRequestBody.nameBn" name="nameBn" id="nameBn" placeholder="{{ 'subject_name_bn' | translate }}" required />
                        </div>
                        <div [hidden]="name_bn.valid || name_bn.pristine" class="error-box">
                            <div class="error-message">
                                <div [hidden]="!name_bn.hasError('pattern')">
                                    Pleaes input valid bangla name
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>
                                        {{ "subject_code" | translate }}
                                        <span>*</span>
                                    </p>
                                </div>
                            </div>
                            <input
                                #subjectCode
                                #subject_code="ngModel"
                                type="text"
                                class="form-control"
                                [pattern]="numberPattern"
                                [(ngModel)]="educationSubjectEditRequestBody.subjectCode"
                                name="subjectCode"
                                id="subjectCode"
                                placeholder="{{ 'subject_code' | translate }}"
                                required
                            />
                        </div>
                        <div [hidden]="subject_code.valid || subject_code.pristine" class="error-box">
                            <div class="error-message">
                                <div [hidden]="!subject_code.hasError('pattern')">
                                    Please input valid subject code
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>{{ "Subject_Type" | translate }} <span>*</span></p>
                                </div>
                            </div>
                            <select #subjectType name="subjectType" class="form-control select-arrow" [(ngModel)]="educationSubjectEditRequestBody.subjectType">
                                <option value="undefined" selected disabled>
                                    -- {{ "Subject_Type" | translate }} --
                                </option>
                                <option value="Compulsory"> {{'Compulsory' | translate}} </option>
                                <option value="Fourth"> {{'Fourth' | translate}} </option>
                                <option value="Optional"> {{'Optional' | translate}} </option>
                            </select>
                        </div>

                         <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>{{ "Status" | translate }} <span>*</span></p>
                                </div>
                            </div>
                            <select #status name="status" class="form-control select-arrow" [(ngModel)]="educationSubjectEditRequestBody.status">
                                <option value="undefined" selected disabled>
                                    -- {{ "Status" | translate }} --
                                </option>
                                <option value="Active"> {{'Active' | translate}} </option>
                                <option value="Inactive"> {{'Inactive' | translate}} </option>
                            </select>
                        </div>
                        
                        
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>
                                        {{ "total_mark" | translate }}
                                        <span>*</span>
                                    </p>
                                </div>
                            </div>
                            <input
                                #totalMarks
                                #total_mark="ngModel"
                                type="text"
                                class="form-control"
                                [pattern]="numberPattern"
                                [(ngModel)]="educationSubjectEditRequestBody.totalMarks"
                                name="totalMarks"
                                id="totalMarks"
                                placeholder="{{ 'total_mark' | translate }}"
                                required
                                (keyup)="isValidMark()"
                            />
                        </div>
                        <div [hidden]="total_mark.valid || total_mark.pristine" class="error-box">
                            <div class="error-message">
                                <div [hidden]="!total_mark.hasError('pattern')">
                                    Please input valid total mark
                                </div>
                            </div>
                        </div>
                 
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>
                                        {{ "written_marks" | translate }}
                                        <span>*</span>
                                    </p>
                                </div>
                            </div>
                            <input
                                #writtenMarks
                                #written_marks="ngModel"
                                type="text"
                                class="form-control"
                                [pattern]="numberPattern"
                                [(ngModel)]="educationSubjectEditRequestBody.writtenMarks"
                                name="writtenMarks"
                                id="writtenMarks"
                                placeholder="{{ 'written_marks' | translate }}"
                                required
                                (keyup)="isValidMark()"
                            />
                        </div>
                        <div [hidden]="written_marks.valid || written_marks.pristine" class="error-box">
                            <div class="error-message">
                                <div [hidden]="!written_marks.hasError('pattern')">
                                    Please input valid written mark
                                </div>
                            </div>
                        </div>
                        
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>
                                        {{ "mcq_marks" | translate }}
                                        <span>*</span>
                                    </p>
                                </div>
                            </div>
                            <input
                                #mcqMarks
                                #mcq_marks="ngModel"
                                type="text"
                                class="form-control"
                                [pattern]="numberPattern"
                                [(ngModel)]="educationSubjectEditRequestBody.mcqMarks"
                                name="mcqMarks"
                                id="mcqMarks"
                                placeholder="{{ 'mcq_marks' | translate }}"
                                required
                                (keyup)="isValidMark()"
                            />
                        </div>
                        <div [hidden]="mcq_marks.valid || mcq_marks.pristine" class="error-box">
                            <div class="error-message">
                                <div [hidden]="!mcq_marks.hasError('pattern')">
                                    Please input valid mcq mark
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>
                                        {{ "practical_marks" | translate }}
                                        <span>*</span>
                                    </p>
                                </div>
                            </div>
                            <input
                                #practicalMarks
                                #practical_marks="ngModel"
                                type="text"
                                class="form-control"
                                [pattern]="numberPattern"
                                [(ngModel)]="educationSubjectEditRequestBody.practicalMarks"
                                name="practicalMarks"
                                id="practicalMarks"
                                placeholder="{{ 'practical_marks' | translate }}"
                                (keyup)="isValidMark()"
                            />
                        </div>
                        <div [hidden]="practical_marks.valid || practical_marks.pristine" class="error-box">
                            <div class="error-message">
                                <div [hidden]="!practical_marks.hasError('pattern')">
                                    Please input valid practival mark
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>
                                        {{ "viva_marks" | translate }}
                                        <span>*</span>
                                    </p>
                                </div>
                            </div>
                            <input
                                #vivaMarks
                                #viva_marks="ngModel"
                                type="text"
                                class="form-control"
                                [pattern]="numberPattern"
                                [(ngModel)]="educationSubjectEditRequestBody.vivaMarks"
                                name="vivaMarks"
                                id="vivaMarks"
                                placeholder="{{ 'viva_marks' | translate }}"
                                (keyup)="isValidMark()"
                            />
                        </div>
                        <div [hidden]="viva_marks.valid || viva_marks.pristine" class="error-box">
                            <div class="error-message">
                                <div [hidden]="!viva_marks.hasError('pattern')">
                                    Please input valid viva mark
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="btn-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="all-btn-box">
              <button
                type="button"
                (click)="goBack()"
                class="btn btn-outline-info"
              >
                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;
                {{ "Back" | translate }}
              </button>
              <button
                type="button"
                (click)="updateSubject()"
                class="btn btn-outline-success"
                [disabled]="updateEducationSubject.invalid"
              >
                <i class="fas fa-save"></i>&nbsp;&nbsp;
                {{ "Update" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    </form>
</section>
