<section id="appViewPage">
    <form>
        <!-- Create Part Start -->
        <section id="create-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="create-header main-title">
                            <h4 class="just-grd">
                                {{ "Education_Curriculum" | translate }}
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- Institute Type and Details -->

                <div class="row mt-3">
                    <div class="col-lg-6">
                        <div class="create-details">

                            <div class="viewtab-details">
                                <div class="field-wrapper">
                                    <div class="field-label">
                                        <p>{{ 'curriculum_name' | translate }}</p>
                                    </div>
                                    <div class="field-divider">
                                        <p>:</p>
                                    </div>
                                    <div class="field-value">
                                        <p>{{ local == 'en' ? adminEducationCurriculum.nameEn:adminEducationCurriculum.nameBn}}
                                        </p>
                                    </div>
                                </div>

                                <div class="field-wrapper">
                                    <div class="field-label">
                                        <p>{{ 'short_name' | translate }}</p>
                                    </div>
                                    <div class="field-divider">
                                        <p>:</p>
                                    </div>
                                    <div class="field-value">
                                        <p>{{ adminEducationCurriculum.shortName }}</p>
                                    </div>
                                </div>

                                <div class="field-wrapper">
                                    <div class="field-label">
                                        <p>{{ 'website' | translate }}</p>
                                    </div>
                                    <div class="field-divider">
                                        <p>:</p>
                                    </div>
                                    <div class="field-value">
                                        <p>{{ adminEducationCurriculum.website }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="create-details">
                            <div class="viewtab-details">
                                <div class="field-wrapper">
                                    <div class="field-label">
                                        <p>{{ 'Education Medium' | translate }}</p>
                                    </div>
                                    <div class="field-divider">
                                        <p>:</p>
                                    </div>
                                    <div class="field-value">
                                        <p>{{ local == 'en' ? adminEducationCurriculum.educationMediumNameEn:adminEducationCurriculum.educationMediumNameBn}}
                                        </p>
                                    </div>
                                </div>
                                <div class="field-wrapper">
                                    <div class="field-label">
                                        <p>{{ 'Country' | translate }}</p>
                                    </div>
                                    <div class="field-divider">
                                        <p>:</p>
                                    </div>
                                    <div class="field-value">
                                        <p>{{ local == 'en' ? adminEducationCurriculum.countryNameEn:adminEducationCurriculum.countryNameBn}}
                                        </p>
                                    </div>
                                </div>
                                <div class="field-wrapper">
                                    <div class="field-label">
                                        <p>{{ 'Status' | translate }}</p>
                                    </div>
                                    <div class="field-divider">
                                        <p>:</p>
                                    </div>
                                    <div class="field-value">
                                        <p>{{ adminEducationCurriculum.status | translate }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div *ngIf="adminEducationCurriculum.educationSystems.length > 0" class="overflow-auto container-fluid">
            <h3 class="table-header">{{'Education_System_List' | translate}}</h3>
            <table mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="asc">
                <tr>
                    <ng-container matColumnDef="serialNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 | localNumber }}. </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Curriculum'|translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            {{ local == 'en' ? element.nameEn : element.nameBn }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="shortName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Short Name'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{ element.shortName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="numberOfInstitute">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Number_Of_Institute' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.numberOfInstitute | localNumber }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Status'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{ element.status | translate }} </td>
                    </ng-container>

                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>

        <!-- Create Part End -->

        <!-- Tab Btn Info Part Start -->
        <br /><br />
        <section id="btn-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="all-btn-box">
                            <button type="button" (click)="goBack()" class="btn btn-outline-info">
                                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;
                                {{ 'Back' | translate }}
                            </button>
                            <button type="button" (click)="goToEditEducationCurriculumn()"
                                class="btn btn-outline-success"><i class="fas fa-save"></i>&nbsp;&nbsp;
                                {{'Update' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tab Btn Info Part End -->
    </form>
</section>
