<section class="get_in_touch">
    <div *ngIf="isShowForm" class="container">
        <div class="title-section">
            <p>
                {{'Reset Password' | translate}}
            </p>
        </div>
        <form autocomplete="off">
            <div class="contact-form row pt-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <p>
                                {{'Change_Password_by' |translate}} :
                            </p>
                        </div>
                    </div>
                    <div class="check-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="radio-nine" (change)="selectLoginId()"
                                name="notaswitch-two" value="yes" />
                            <label class="form-check-label" for="radio-nine">{{'Login_Id'|translate}}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="radio-ten" (change)="selectEmail()"
                                name="notaswitch-two" value="maybe" />
                            <label class="form-check-label" for="radio-ten">{{'Email'|translate}}</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="isShowLoginIdInput" class="form-field col-lg-12">
                    <div class="input-group">
                        <input #loginId type="text" class="form-control" [(ngModel)]="resetPasswordRequestbody.loginId"
                            name="loginId" id="loginId" required placeholder="{{'Enter Login ID'|translate}}"
                            autocomplete="off" maxlength="14" required />
                        <label for="name" class="label"><i class="far fa-address-card"></i>
                            {{'Login_Id'|translate}}
                        </label>
                    </div>
                </div>
                <div *ngIf="isShowEmailInput" class="form-field col-lg-12">
                    <div class="input-group">
                        <input type="email" #email class="form-control" [(ngModel)]="resetPasswordRequestbody.email"
                            name="email" id="email" placeholder="{{'Enter Email'|translate}}" autocomplete="off" />
                        <label for="name" class="label"><i class="fa-solid fa-envelope"></i>
                            {{'Email' | translate}}
                        </label>
                    </div>
                </div>
                <div *ngIf="isShowResetPasswordButton" class="row">
                    <div class="btn-container web-portal-btn-container">
                        <button (click)="resetPassword()" type="button" class="btn btn-outline-primary common-btn">
                            {{'Reset Password' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="isShowSuccessMsg" class="preview-body">
        <div class="success-msg-container">
            <div class="succes-icon-container">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <p class="details-msg">Password has been reseted successfully! Please Check Your
                <span *ngIf="resetPasswordRequestbody.loginId">Message.</span>
                <span *ngIf="resetPasswordRequestbody.email">Email.</span>
            </p>
            <p class="home-page-link">Go to <a routerLink='/school/dashboard'>Dashboard</a>
            </p>
        </div>
    </div>
</section>
