@import "../../../../shared/styles/all-common.scss";

#appViewPage {
    @include cmn-bg;

    #create-main {
        padding: 15px 0px 25px;

        /* common for this component */
        .input-group {

            .input-group-prepend {
                .input-group-text {
                    border-radius: 0px;
                }
            }
        }

        .form-control {
            border-radius: 0px;
        }

        /* common for this component */


        .create-details {

            .create-details-headline {
                padding: 15px 0px 15px 0px;

                h5 {
                    font-weight: 500;
                    font-size: 20px;
                }
            }

        }
    }
}



@media (max-width: 414px) {
    #btn-section .all-btn-box {
        display: flex;
        justify-content: center;
    }

    #btn-section .all-btn-box .btn {
        width: 33%;
        margin: 2px !important;
        padding: 5px;
        font-size: 12px;
    }
}

.table {
    min-width: unset;
}