<section id="appViewPage">
    <section id="create-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="create-header">
                        <h4 class="just-grd">
                            {{ 'Class_Subject_Information' | translate }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text break-word">
                                <p> {{ 'School' | translate }} : <span>*</span></p>
                            </div>
                        </div>
                        <ng-select #selectSchool id="selectSchool" name="selectSchool" [(ngModel)]="entity.instituteOid"
                            placeholder="{{'Select_School' |translate}}" (change)="getInstituteInformation()">
                            <ng-option *ngFor="let obj of instituteList" [value]="obj.oid">
                                {{local === 'en'? obj.nameEn : obj.nameBn}}
                            </ng-option>
                        </ng-select>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <p>{{ 'Session' | translate }} : <span>*</span></p>
                            </div>
                        </div>
                        <ng-select #selectSession name="selectSession" id="selectSession"
                            [(ngModel)]="entity.instituteSessionOid" placeholder="{{'Select Session' |translate}}"
                            (change)="loadClassBySession()">
                            <ng-option *ngFor="let session of sessionList" [value]="session.oid">
                                {{locale==='en'? session.nameEn : session.nameBn}}
                            </ng-option>
                        </ng-select>

                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <p>{{ 'Class' | translate }} : <span>*</span></p>
                            </div>
                        </div>
                        <ng-select #selectClass name="selectClass" id="selectClass"
                            [(ngModel)]="entity.instituteClassOid" placeholder="{{'Select Class' |translate}}"
                            (change)="getClassSubjectListByInstituteType()">
                            <ng-option *ngFor="let class of classList" [value]="class.oid">
                                {{locale==='en'? class.nameEn : class.nameBn}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div *ngIf="isShowSubjectTable" class="row mt-4">
                <div class="col-lg-12">
                    <div class="create-details">
                        <div class="create-details-headline">
                            <h5>{{ 'Class Information' | translate }}</h5>
                        </div>
                    </div>
                    <div class="viewtab-details-table">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'Name' | translate }}</th>
                                    <th>{{ 'Subject_Code' | translate }}</th>
                                    <th>{{ 'Subject_Type' | translate }}</th>
                                    <th>
                                        <div class="form-check t-check">
                                            <input #selectAll ngModel [checked]="!selectAll" class="form-check-input"
                                                (change)="selectAllCheckbox(selectAll.checked)" type="checkbox">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of subjectListByInstituteType; let i = index;">
                                    <td>{{ i + 1 | localNumber}}</td>
                                    <td>{{local === 'en' ? obj.educationSubjectNameEn : obj.educationSubjectNameBn}}
                                    </td>
                                    <td>{{ obj.subjectCode | localNumber}}</td>
                                    <td>{{ obj.subjectType | translate }}</td>
                                    <td>
                                        <div class="form-check t-check">
                                            <input class="form-check-input" type="checkbox"
                                                [disabled]="obj.disableStatus" [(ngModel)]="obj.checkStatus"
                                                name="checkStatus_{{i}}">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <section *ngIf="isShowSubjectTable" id="btn-section" class="mt-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="all-btn-box">
                                <button type="button" (click)="goBack()" class="btn btn-outline-info">
                                    <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;
                                    {{ 'Back' | translate }}
                                </button>
                                <button type="button" (click)="saveInstituteClassSubject()"
                                    class="btn btn-outline-success">
                                    <i class="fas fa-save"></i>&nbsp;&nbsp;
                                    {{ 'Save' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>


</section>
