<div class="common-list mat-elevation-z8 common-list">
    <div class="list-title-section">
        <p>{{'Meassage_Template_parameter_List' | translate}}</p>
    </div>
    <form class="date-block">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-9">
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'Search' | translate }}</mat-label>
                        <input type="text" (keyup)="applyFilter($event)" matInput placeholder="{{
                          'Text' | translate
                        }}" />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
    <table [ngClass]="table-responsive" mat-table [dataSource]="dataSource" matSort matSortActive="startDate"
        matSortDisableClear matSortDirection="asc">
        <tr>
            <ng-container matColumnDef="serialNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }}. </td>
                <!-- <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 | localNumber }}. </td> -->
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Name'|translate}} </th>
                <td mat-cell *matCellDef="let element">{{locale === 'en' ? element.nameEn : element.nameBn}} </td>
            </ng-container>

            <ng-container matColumnDef="contactNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Parameter_Value'|translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.parameterValue }} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'General' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.isGeneral }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
        <tr>
            <th mat-header-cell *matHeaderCellDef>
                <div class="form-check t-check">
                    <input style="right: 0" #selectAll ngModel [checked]="!selectAll" class="form-check-input"
                        (change)="selectAllCheckbox(selectAll.checked)" type="checkbox">
                </div>
            </th>

        </tr>
        <tr>
            <td mat-cell *matCellDef="let element" class="action-buttons">
                <div class="form-check t-check">
                    <input style="right: 4px" class="form-check-input" #check [checked]="element.check"
                        [(ngModel)]="element.check" type="checkbox" name="element.check">
                </div>
            </td>
        </tr>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [pageSize]="5"></mat-paginator>

    <div class="row mt-3">
        <div class="col-12 dialog-btn-group">
            <input type="submit" (click)="apply()" class="btn btn-primary submit mr-3" value="Apply" />
            <input type="submit" (click)="cancel()" class="btn btn-primary submit" value="Cancel" />
        </div>
    </div>
</div>
