<section *ngIf="isShowComponent" id="appViewPage">
    <form action="">
        <section id="view-main">
            <div class="container-fluid">
                <!-- Logo Heading Part Start-->
                <section id="">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="preview-head">
                                    <div class="school-info-with-details row mb-0">
                                        <div class="col-lg-3 m-auto text-center">
                                            <div class="address-logo-section">
                                                <img *ngIf="institute.logoUrl != null" src='{{institute.logoUrl}}'
                                                    class="info-logo img-fluid" />
                                                <img *ngIf="institute.logoUrl == null"
                                                    src='../../../../assets/img/myacademy.png'
                                                    class="info-logo img-fluid" />
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="address-info-section">
                                                <p class="title-text">
                                                    {{ local == 'en' ? institute.nameEn : institute.nameBn }}
                                                </p>
                                                <div class="row row-container">
                                                    <div class="col-lg-5 col-container">
                                                        <!-- <p class="title">Address : </p> -->
                                                        <div class="infoPart">
                                                            <div class="detail">
                                                                <p class="detail-element">
                                                                    {{ local == 'en' ? institute.addressEn.roadNo: institute.addressBn.roadNo}},
                                                                    {{local == 'en' ? institute.addressEn.villageOrWord : institute.addressBn.villageOrWord}},
                                                                    {{local == 'en' ? institute.addressEn.thana : institute.addressBn.thana}},
                                                                </p>
                                                                <p class="detail-element">
                                                                    {{ local == 'en' ? institute.addressEn.district : institute.addressBn.district }}
                                                                </p>
                                                                <!-- {{ local == 'en' ? entity.addressEn.district : entity.addressBn.district}} -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-container">
                                                        <!-- <p class="title">Contact : </p> -->
                                                        <div class="infoPart">
                                                            <div class="detail">
                                                                <p class="detail-element">
                                                                    <span class="label"><i
                                                                            class="fa-solid fa-phone"></i>
                                                                    </span>
                                                                    <span>{{ institute.contact | localNumber}},</span>
                                                                </p>
                                                                <p class="detail-element">
                                                                    <span class="label"><i
                                                                            class="fa-solid fa-envelope"></i>
                                                                    </span>
                                                                    <span>{{ institute.email }},</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Logo Heading Part End-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="view-header">
                            <h4 class="just-grd">
                                {{ 'SMS_Service_Pending_Request_List' | translate }}
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- <div class="row" *ngFor="entity of entityList">
                    hello
                </div> -->
                <div class="row custom-card" *ngFor="let entity of entityList">

                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <div class="viewtab-details">
                                <div class="viewtab-details-headline">
                                    <h5>{{'SMS_Service_Information' | translate}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="viewtab-details">
                            <div class="field-wrapper">
                                <div class="field-label">
                                    <p>{{ 'Service_Name' | translate }}</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>{{ local == 'en' ? entity.smsServiceNameEn : entity.smsServiceNameBn}}</p>
                                </div>
                            </div>
                            <div class="field-wrapper" style="padding: 0 20px;">
                                <div class="field-label">
                                    <p>{{ 'Current_Sms_Service' | translate }}</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <div class="switch-container">
                                        <ng-container>
                                            <app-switch size="medium" name="buttonStatePresentService"
                                                [(ngModel)]="entity.presentStatus" disabled>
                                            </app-switch>
                                        </ng-container>
                                    </div>

                                </div>
                            </div>

                            <div class="field-wrapper" style="padding: 0 20px;">
                                <div class="field-label">
                                    <p>{{ 'Requested_Sms_Service' | translate }}</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <div class="switch-container">
                                        <ng-container>
                                            <app-switch size="medium" name="buttonStateRequesService"
                                                [(ngModel)]="entity.requestedStatus" disabled>
                                            </app-switch>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isSmsServiceApproved" class="field-wrapper">
                                <div class="field-label">
                                    <p>{{ 'Approved_On' | translate }}</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>{{ entity.approvedOn}}</p>
                                </div>
                            </div>
                            <div class="field-wrapper">
                                <div class="field-label">
                                    <p>{{ 'Type' | translate }}</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>{{ entity.serviceType | translate }}</p>
                                </div>
                            </div>
                            <div class="field-wrapper">
                                <div class="field-label">
                                    <p>{{ 'Requested_On' | translate }}</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>{{ entity.requestedOn}}</p>
                                </div>
                            </div>

                            <div *ngIf="isSmsServiceApproved" class="field-wrapper">
                                <div class="field-label">
                                    <p>{{ 'Approved_By' | translate }}</p>
                                </div>
                                <div class="field-divider">
                                    <p>:</p>
                                </div>
                                <div class="field-value">
                                    <p>{{ entity.approvedBy}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row" style="margin-top:-20px;">
                            <div class="col-md-12">
                                <div class="view-header">
                                    <div class="viewuser-image">
                                        <img *ngIf="entity.requestedByPhotoUrl == null"
                                            src="assets/img/default_avater.jpg" alt="pic" class="img-fluid" />
                                        <img *ngIf="entity.requestedByPhotoUrl != null"
                                            src="{{ entity.requestedByPhotoUrl }}" alt="pic" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <div class="viewtab-details">
                                        <div class="viewtab-details-headline">
                                            <h5>{{'SMS_Service_Information' | translate}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewtab-details">
                                    <div class="field-wrapper">
                                        <div class="field-label">
                                            <p>{{ 'Full_Name_In_English' | translate }}</p>
                                        </div>
                                        <div class="field-divider">
                                            <p>:</p>
                                        </div>
                                        <div class="field-value">
                                            <p>{{ entity.requestedByNameEn }}</p>
                                        </div>
                                    </div>
                                    <div class="field-wrapper">
                                        <div class="field-label">
                                            <p>{{ 'Full_Name_In_Bangla' | translate }}</p>
                                        </div>
                                        <div class="field-divider">
                                            <p>:</p>
                                        </div>
                                        <div class="field-value">
                                            <p>{{ entity.requestedByNameEn }}</p>
                                        </div>
                                    </div>
                                    <div class="field-wrapper">
                                        <div class="field-label">
                                            <p>{{ 'Mobile No.' | translate }}</p>
                                        </div>
                                        <div class="field-divider">
                                            <p>:</p>
                                        </div>
                                        <div class="field-value">
                                            <p>{{ entity.requestedByMobileNo}}</p>
                                        </div>
                                    </div>
                                    <div class="field-wrapper">
                                        <div class="field-label">
                                            <p>{{ 'User_Id' | translate }}</p>
                                        </div>
                                        <div class="field-divider">
                                            <p>:</p>
                                        </div>
                                        <div class="field-value">
                                            <p>{{ entity.requestedBy | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="field-wrapper">
                                        <div class="field-label">
                                            <p>{{ 'Email' | translate }}</p>
                                        </div>
                                        <div class="field-divider">
                                            <p>:</p>
                                        </div>
                                        <div class="field-value">
                                            <p>{{ entity.requestedByEmail}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row w-100">
                        <div class="col-md-12">
                            <div style="text-align:center;" class="all-btn-box mt-4">
                                <ng-container *ngIf="!entity.approved && !entity.rejected">
                                    <span>
                                        <button type="button" class="btn btn-outline-success mr-2"
                                            (click)="approveSmsService(entity)">
                                            <i class="fas fa-save"></i>&nbsp;&nbsp;
                                            {{ 'Approve' | translate }}
                                        </button>
                                    </span>
                                    <span>
                                        <button type="button" class="btn btn-outline-danger"
                                            (click)="rejectSmsService(entity)">
                                            <i class="fas fa-save"></i>&nbsp;&nbsp;
                                            {{ 'Reject' | translate }}
                                        </button>
                                    </span>
                                </ng-container>




                                <span *ngIf="entity.approved">
                                    <button type="button" class="btn btn-outline-success mr-2" disabled>
                                        <i class="fas fa-save"></i>&nbsp;&nbsp;
                                        {{ 'Approved' | translate }}
                                    </button>
                                </span>
                                <span *ngIf="entity.rejected">
                                    <button type="button" class="btn btn-outline-danger" disabled>
                                        <i class="fas fa-save"></i>&nbsp;&nbsp;
                                        {{ 'Rejected' | translate }}
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </section>
        <section id="btn-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="all-btn-box">
                            <span>
                                <button type="button" class="btn btn-outline-info" (click)="goBack()">
                                    <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;
                                    {{ 'Go Back' | translate }}
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
