@import "../../../../../shared/styles/list-css/all-list.scss";
@import "../../../../../shared/styles/all-common.scss";

.common-list .mat-header-cell:last-child {
    min-width: unset;
}


table {
    img {

        border-radius: 50%;
        height: 44px;
        width: 45px;
        border: solid 3px #aaa5b496;

    }
}