<section id="appViewPage">
  <!-- Create Part Start -->
  <section id="create-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="header-title">
            <h5>{{ "Profile Information" | translate }}</h5>
          </div>
        </div>
      </div>
      <form #profileEditFrom="ngForm" novalidate autocomplete="off">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <p>{{ "Name_English" | translate }} <span>*</span></p>
                </div>
              </div>
              <input
                #nameEn
                #name_En="ngModel"
                [pattern]="nameEnPattern"
                type="text"
                name="nameEn"
                [(ngModel)]="entity.nameEn"
                id="automation-41"
                class="form-control"
                placeholder="{{ 'Name_English' | translate }}"
              />
            </div>
            <div [hidden]="name_En.valid || name_En.pristine" class="error-box">
              <div class="error-message">
                <div [hidden]="!name_En.hasError('pattern')">
                  Please write English and dont use 0-9,!, @, $, %, ^ ,* etc
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <p>{{ "Name_Bangla" | translate }} <span>*</span></p>
                </div>
              </div>
              <input
                #nameBn
                #name_Bn="ngModel"
                pattern="[ঀ-৿\s:]*"
                type="text"
                name="nameBn"
                [(ngModel)]="entity.nameBn"
                id="automation-42"
                class="form-control"
                placeholder="{{ 'Name_Bangla' | translate }}"
              />
            </div>
            <div [hidden]="name_Bn.valid || name_Bn.pristine" class="error-box">
              <div class="error-message">
                <div [hidden]="!name_Bn.hasError('pattern')">
                  Please write bangla and dont use 0-9, a-z !, @, $, %, ^ ,* etc
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <p>{{ "Mobile No." | translate }} <span>*</span></p>
                </div>
              </div>
              <input
                #mobileNo
                #mobile="ngModel"
                [pattern]="mobileNumPattern"
                type="text"
                name="mobileNo"
                [(ngModel)]="entity.mobileNo"
                id="automation-43"
                class="form-control"
                placeholder="{{ 'Mobile No.' | translate }}"
              />
            </div>
            <div [hidden]="mobile.valid || mobile.pristine" class="error-box">
              <div class="error-message">
                <div [hidden]="!mobile.hasError('pattern')">
                  Please input a valid mobile number
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <p>{{ "Email" | translate }} <span>*</span></p>
                </div>
              </div>
              <input
                #email
                #emailId="ngModel"
                type="email"
                name="email"
                [pattern]="mailPattern"
                [(ngModel)]="entity.email"
                id="automation-44"
                class="form-control"
                placeholder="{{ 'Email' | translate }}"
              />
            </div>
            <div [hidden]="emailId.valid || emailId.pristine" class="error-box">
              <div class="error-message">
                <div [hidden]="!emailId.hasError('pattern')">
                  Please enter a valid email address
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="create-details">
              <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-12">
                  <!--MESSEAGE-->
                  <div
                    class="mb-3"
                    [ngClass]="{
                      'notification-message': true,
                      'custom-notification-default':
                        notificationType == 'default',
                      'custom-notification-warning':
                        notificationType == 'warning',
                      'custom-notification-success':
                        notificationType == 'success',
                      'custom-notification-danger':
                        notificationType == 'danger',
                      'custom-notification-info': notificationType == 'info'
                    }"
                    *ngIf="isShowNotificationMessage"
                  >
                    <div class="notification-text-wrapper">
                      <p class="notification-text">
                        {{ notificationMessage | localNumber }}
                        <a
                          *ngIf="isShowPhotoResizeLink"
                          href="https://www.resizepixel.com/"
                          target="_blank"
                          class="resizePhotoLink"
                          >resizepixel.com</a
                        >
                      </p>
                      <span class="bold1"></span>
                      <span class="bold2"></span>
                      <span class="bold3"></span>
                      <span class="bold4"></span>
                    </div>
                  </div>
                  <!--MESSEAGE-->

                  <div for="file" class="input-box" style="width: 100%">
                    <label for="file" *ngIf="url == null">
                      <i class="fa-solid fa-user"></i>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <p id="automation-45" class="photo-upload-text">
                        {{ "Upload_Photo" | translate }}
                      </p>
                      <p class="mt-2">
                        {{ "300" | localNumber }} x {{ "300" | localNumber }}({{
                          "50kb
                                            max" | translate
                        }})
                      </p>
                    </label>
                    <label for="file" *ngIf="url != null"
                      ><img
                        class="selected-image"
                        id="file-image"
                        [src]="url"
                        height="200"
                      />
                      <i class="fa-solid fa-rotate-left"></i>
                      <p *ngIf="url != null" class="photo-upload-text">
                        {{ "Change_Photo" | translate }}
                      </p>
                    </label>
                    <input
                      #uploadImage
                      type="file"
                      [(ngModel)]="entity.userPhotoUrl"
                      value="url"
                      multiple
                      id="file"
                      (change)="onSelect($event)"
                      class="form-control d-none"
                      name="imageName"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- Create Part End -->

  <!-- Tab Btn Info Part Start -->
  <section id="btn-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="all-btn-box">
            <button
              type="button"
              (click)="goBack()"
              id="automation-46"
              class="btn btn-outline-info"
            >
              <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;
              {{ "Go Back" | translate }}
            </button>
            <button
              type="button"
              id="automation-47"
              class="btn btn-outline-warning"
              (window:keydown.enter)="updateProfileByLoginId()"
              (click)="updateProfileByLoginId()"
              [disabled]="profileEditFrom.invalid"
            >
              <i class="fas fa-save"></i>&nbsp;&nbsp;
              {{ "Button_Update" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Tab Btn Info Part End -->
</section>
