<section class="get_in_touch">
  <div class="container">
    <div class="title-section">
      <p>{{ "Change_Password" | translate }}</p>
    </div>
    <div
      [ngClass]="{
        'notification-message': true,
        'custom-notification-default': notificationType == 'default',
        'custom-notification-warning': notificationType == 'warning',
        'custom-notification-success': notificationType == 'success',
        'custom-notification-danger': notificationType == 'danger',
        'custom-notification-info': notificationType == 'info'
      }"
      *ngIf="isShowNotificationMessage"
    >
      <div class="notification-text-wrapper">
        <p class="notification-text">
          {{ notificationMessage | translate }}
        </p>
        <span class="bold1"></span>
        <span class="bold2"></span>
        <span class="bold3"></span>
        <span class="bold4"></span>
      </div>
    </div>
    <form #userForm="ngForm" autocomplete="off">
      <div class="contact-form row pt-3">
        <div class="input-group">
          <label for="name" class="label"
            ><i class="fas fa-key"></i>&nbsp;{{
              "Old_Password" | translate
            }}</label
          >
          <input
            #oldPassword
            class="form-control"
            type="password"
            id="oldPassword"
            name="oldPassword"
            minlength="5"
            [(ngModel)]="changePasswordRequestBody.oldPassword"
            placeholder="{{ 'Old_Password_PH' | translate }}"
            required
          />
        </div>
        <div class="input-group">
          <label for="name" class="label"
            ><i class="fas fa-key"></i>&nbsp;{{
              "New_Password" | translate
            }}</label
          >
          <input
            #newPassword
            class="form-control"
            type="{{ type }}"
            id="newPassword"
            name="newPassword"
            minlength="5"
            [(ngModel)]="changePasswordRequestBody.newPassword"
            placeholder="{{ 'New_Password_PH' | translate }}"
            required
          />
        </div>
        <div class="input-group mb-2">
          <label for="name" class="label"
            ><i class="fas fa-key"></i>&nbsp;{{
              "Confirm_New_Password" | translate
            }}</label
          >
          <input
            #confirmNewPassword
            class="form-control"
            type="{{ type }}"
            id="confirmNewPassword"
            name="confirmNewPassword"
            minlength="5"
            [(ngModel)]="changePasswordRequestBody.confirmNewPassword"
            placeholder="{{ 'Confirm_New_Password_PH' | translate }}"
            required
          />
        </div>
        <div class="password-show">
          <span class="show-password-text mr-1" *ngIf="!showPass">{{
            "Show_Password" | translate
          }}</span>
          <span class="show-password-text mr-1" *ngIf="showPass">{{
            "Hide_Password" | translate
          }}</span>
          <input
            id="automation-8"
            (click)="showPassword()"
            type="checkbox"
            name="show_password"
          />
        </div>
        <div class="btn-container change-password-btn-container mt-4">
          <button
            (click)="changePassword()"
            (window:keydown.enter)="changePassword()"
            type="button"
            id="automation-9"
            class="btn btn-outline-primary common-btn"
          >
            {{ "Btn_Change_Password" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
