@import "../../../app/login/login/login.component.scss";

.get_in_touch {
  max-width: 570px;
  margin-top: 50px;
  // background: #49494903;
  // background: #49494905;
  background: #00000003;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  // background: linear-gradient(270deg, #0095ff0f -47%, #ffffff 79.23%);
}

.title-section {
  margin-top: 0;
}

.change-password-method {
  border: 1px solid #ededed;
  border-radius: 5px;
  margin-top: 24px;
  padding: 7px;
}

.change-password-btn-container {
  margin-top: 15px;
}

.form-control {
  padding-left: 18px;
  border-radius: 30px;
  border: 1px solid #97e2ff;
  background: linear-gradient(270deg, #0095ff0f -47%, #ffffff 79.23%);
}

.input-group>.form-control:not(:first-child),
.input-group>.custom-select:not(:first-child) {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}


.password-show{
  width: 100%;
  text-align: right;
}