<section id="dialog-component">
    <div class="row">
        <div class="col-lg-12">
            <div class="preview-head">
                <div class="school-info-with-details row mb-0">
                    <div class="col-lg-3 m-auto text-center">
                        <div class="address-logo-section">
                            <img *ngIf="instituteInfoParameter.logoUrl != null" src='{{instituteInfoParameter.logoUrl}}'
                                class="info-logo img-fluid" />
                            <img *ngIf="instituteInfoParameter.logoUrl == null"
                                src='../../../../assets/img/myacademy.png' class="info-logo img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-9 m-auto">
                        <div class="address-info-section">
                            <p class="title-text title-text-header">
                                {{ locale == 'en' ? instituteInfoParameter.nameEn : instituteInfoParameter.nameBn }}
                            </p>

                            <p class="title-text title-text-info">
                                {{ locale == 'en' ? instituteInfoParameter.educationBoardNameEn : instituteInfoParameter.educationBoardNameBn }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="submit-container">
                <div class="viewtab-details">
                    <div class="viewtab-details-headline">
                        <h5>{{ 'Message_Schedule_Configuration' | translate }}</h5>
                    </div>
                </div>

                <div class="viewtab-details">
                    <div class="field-wrapper" style="padding: 5px 20px;border-radius: 5px;">
                        <div class="field-label">
                            <p>{{ 'Push_Message' | translate }}</p>
                        </div>
                        <div class="field-divider">
                            <p>:</p>
                        </div>
                        <div class="field-value">
                            <div class="switch-container-view-page">
                                <app-switch class="item switch-item" size="medium" name="scheduleMessagePushCheck"
                                    (change)="onChangeScheduleMessagePush()" [(ngModel)]="scheduleMessagePushCheck">
                                </app-switch>
                                <div class="item" *ngIf="isShowSmsSubmitButton" class="submit-sms-btn">
                                    <button type="button" class="btn btn-outline-success"
                                        (click)="submitScheduleMessageRequest()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="submit-container-inner">
                    <app-switch class="item switch-item" size="medium" name="scheduleMessagePushCheck"
                        (change)="onChangeScheduleMessagePush()" [(ngModel)]="scheduleMessagePushCheck">
                    </app-switch>
                    <div class="item" *ngIf="isShowSmsSubmitButton" class="submit-sms-btn">
                        <button type="button" class="btn btn-outline-success"
                            (click)="submitScheduleMessageRequest()">Submit</button>
                    </div>
                </div> -->

            </div>


        </div>
    </div>

    <section id="btn-section" class="mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="all-btn-box">
                        <!-- <button  *ngIf="isShowSmsSubmitButton"  type="button" (click)="apply()" class="btn btn-outline-success">
                            <i class="fas fa-save"></i>&nbsp;&nbsp;
                            {{'Submit' | translate}}
                        </button> -->
                        <button type="button" class="btn btn-outline-danger" (click)="cancel()">
                            <i class="fas fa-close"></i>&nbsp;&nbsp;
                            {{ 'Cancel' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

<ngx-spinner bdColor="{{spinnerConfig.bdColor}}" size="large" color="{{spinnerConfig.color}}"
    type="ball-clip-rotate-multiple" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
