<div class="mat-elevation-z8 common-list">
  <div class="list-title-section">
    <p>{{ "Mark_Sheet" | translate }}</p>
  </div>
  <form class="date-block" [form]>
    <div class="list-header-container">
      <div class="item">
        <div class="ng-select-container">
          <ng-select
            #examResult
            name="examResult"
            id="examResult"
            [(ngModel)]="exam_result"
            placeholder="{{ 'Mark Sheet Type' | translate }}"
            (change)="loadExamMarkSheet(exam_result)"
          >
            <ng-option *ngFor="let r of examTypeData" [value]="r.nameEn">
              {{ locale === "en" ? r.nameEn : r.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div *ngIf="receivedInstituteOid" class="item">
        <div class="ng-select-container">
          <ng-select
            #selectSchool
            id="selectSchool"
            name="selectSchool"
            [(ngModel)]="selectedInstitute"
            placeholder="{{ 'Select School' | translate }}"
            (change)="getInstituteInformation()"
          >
            <ng-option *ngFor="let obj of instituteList" [value]="obj.oid">
              {{ locale === "en" ? obj.nameEn : obj.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="item">
        <div class="ng-select-container">
          <ng-select
            #selectSession
            name="selectSession"
            id="selectSession"
            [(ngModel)]="selectedSession"
            placeholder="{{ 'Select Session' | translate }}"
            (change)="loadClassBySession(selectedSession)"
          >
            <ng-option
              *ngFor="let session of sessionList"
              [value]="session.oid"
            >
              {{ locale === "en" ? session.nameEn : session.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div *ngIf="isShowSelectVersion" class="item">
        <div class="ng-select-container">
          <ng-select
            #selectVersion
            name="selectVersion"
            id="selectVersion"
            [(ngModel)]="selectedVersion"
            placeholder="{{ 'Select Version' | translate }}"
            (change)="loadSectionData('')"
          >
            <ng-option
              *ngFor="let version of versionList"
              [value]="version.oid"
            >
              {{ locale === "en" ? version.nameEn : version.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div *ngIf="isShowSelectShift" class="item">
        <div class="ng-select-container">
          <ng-select
            #selectShift
            name="selectShift"
            id="selectShift"
            [(ngModel)]="selectedShift"
            placeholder="{{ 'Select Shift' | translate }}"
          >
            <ng-option *ngFor="let shift of shiftList" [value]="shift.oid">
              {{ locale === "en" ? shift.nameEn : shift.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="item">
        <div class="ng-select-container">
          <ng-select
            #selectClass
            name="selectClass"
            id="selectClass"
            [(ngModel)]="selectedClass"
            placeholder="{{ 'Select Class' | translate }}"
            (change)="getExamList()"
          >
            <ng-option *ngFor="let class of classList" [value]="class.oid">
              {{ locale === "en" ? class.nameEn : class.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div *ngIf="exam_result != 'Final Exam Result'" class="item">
        <div class="ng-select-container">
          <ng-select
            #selectTerm
            name="term"
            id="selectExam"
            [(ngModel)]="sleectExamOid"
            placeholder="{{ 'Select_Exam' | translate }}"
            (change)="getClassTermList()"
          >
            <ng-option *ngFor="let exam of examList" [value]="exam.oid">
              {{ locale === "en" ? exam.nameEn : exam.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div *ngIf="exam_result != 'Final Exam Result'" class="item">
        <div class="ng-select-container">
          <ng-select
            #selectTerm
            name="selectTerm"
            id="selectTerm"
            [(ngModel)]="selectedTermOid"
            placeholder="{{ 'Select_Term' | translate }}"
            (change)="getStudentList('')"
          >
            <ng-option *ngFor="let term of classTermList" [value]="term.oid">
              {{ locale === "en" ? term.nameEn : term.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div *ngIf="isShowClassGroup" class="item">
        <div class="ng-select-container">
          <ng-select
            #selectGroup
            name="selectGroup"
            id="selectGroup"
            [(ngModel)]="selectedClassGroup"
            (click)="getStudentList('')"
            placeholder="{{ 'Select Group' | translate }}"
          >
            <ng-option
              *ngFor="let group of classGroupList"
              [value]="group.instituteClassGroupOid"
            >
              {{ locale === "en" ? group.groupNameEn : group.groupNameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div *ngIf="isShowSection" class="item">
        <div class="ng-select-container">
          <ng-select
            #selectSection
            name="selectSection"
            id="selectSection"
            [(ngModel)]="selectedClassSection"
            (click)="getStudentList('')"
            placeholder="{{ 'Select Section' | translate }}"
          >
            <ng-option
              *ngFor="let section of sectionList"
              [value]="section.oid"
            >
              {{ locale === "en" ? section.nameEn : section.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>

      <div class="item">
        <div class="ng-select-container">
          <ng-select
            #selectSection
            name="studentList"
            id="studentList"
            [(ngModel)]="selectedStudentId"
            placeholder="{{ 'Select Student' | translate }}"
          >
            <ng-option
              *ngFor="let student of studentList"
              [value]="student.studentId"
            >
              {{ locale === "en" ? student.nameEn : student.nameBn }}
            </ng-option>
          </ng-select>
        </div>
      </div>

      <div *ngIf="enableSearchButton" class="item button-item">
        <button
          type="button"
          (click)="markSheetGenerate()"
          id="automation-112"
          class="btn btn-outline-success"
        >
          {{ "Search" | translate }}
        </button>
      </div>
      <div
        *ngIf="!enableSearchButton"
        id="automation-113"
        class="item button-item"
      >
        <button disabled type="button" class="btn btn-outline-success">
          {{ "Search" | translate }}
        </button>
      </div>
      <div class="item"></div>
    </div>
    <div class="row m-auto">
      <div class="col-sm-1 my-auto"></div>
    </div>
  </form>

  <div
    *ngIf="exam_result === 'Term Exam Result' && selectedStudentId"
    class="row"
  >
    <div *ngIf="show_result" class="col-lg-12">
      <div class="create-details">
        <div class="create-details-headline">
          <h5>
            {{
              locale === "en"
                ? termInfo.termNameEn
                : (termInfo.termNameBn | translate)
            }}
            {{ "Exam" | translate }}
          </h5>
        </div>
      </div>
      <div class="viewtab-details-table">
        <table class="table" style="width: 100%">
          <tr>
            <th style="background: #88c8f585" colspan="3">
              {{ "Name" | translate }} :
              {{ locale === "en" ? markSheet.nameEn : markSheet.nameBn }}
            </th>
            <th style="background: #88c8f585" colspan="2">
              {{ "Roll" | translate }} :
              {{ markSheet.roll | localNumber }}
            </th>
            <th style="background: #88c8f585" colspan="3">
              {{ "Class" | translate }} :
              {{
                locale === "en"
                  ? markSheet.instituteClassNameEn
                  : markSheet.instituteClassNameBn
              }}
            </th>
            <th style="background: #88c8f585" colspan="3">
              {{ "Group" | translate }} :
              {{
                locale === "en"
                  ? markSheet.instituteClassGroupNameEn
                  : markSheet.instituteClassGroupNameBn
              }}
            </th>
            <th style="background: #88c8f585" colspan="3">
              {{ "Section" | translate }} :
              {{
                locale === "en"
                  ? markSheet.instituteClassSectionNameEn
                  : markSheet.instituteClassSectionNameBn
              }}
            </th>
          </tr>

          <tr></tr>
          <tr>
            <th style="background: #88c8f517" rowspan="2">
              {{ "Subject_Name" | translate }}
            </th>
            <th style="background: #88c8f52b" colspan="4">
              {{ "SBA" | translate }} ( {{ termInfo.sba | localNumber }}
              {{ "%" | translate }} )
            </th>
            <th style="background: #88c8f517" colspan="5">
              {{ "Exam_Result" | translate }} (
              {{ termInfo.finalExamContribution | localNumber }}
              {{ "%" | translate }} )
            </th>
            <th style="background: #88c8f52b" rowspan="2">
              {{ "Total_Marks" | translate }}
            </th>
            <th style="background: #88c8f517" rowspan="2">
              {{ "Total_Obtained_Marks" | translate }}
            </th>

            <th style="background: #88c8f52b" rowspan="2">
              {{ "Latter_Grade" | translate }}
            </th>
            <th style="background: #88c8f517" rowspan="2">
              {{ "Grade_Point" | translate }}
            </th>
          </tr>
          <tr>
            <th style="background: #88c8f52b">
              {{ "CT" | translate }} (
              {{ termInfo.classTestContribution | localNumber }}
              {{ "%" | translate }} )
            </th>
            <th style="background: #88c8f52b">
              {{ "Attendance" | translate }} (
              {{ termInfo.attendanceContribution | localNumber }}
              {{ "%" | translate }} )
            </th>
            <th style="background: #88c8f52b">
              {{ "Assignments" | translate }} (
              {{ termInfo.assignmentContribution | localNumber }}
              {{ "%" | translate }} )
            </th>
            <th style="background: #88c8f52b">
              {{ "Others" | translate }}
              {{ termInfo.othersContribution | localNumber }}
              {{ "%" | translate }} )
            </th>
            <th style="background: #88c8f517">{{ "Viva" | translate }}</th>
            <th style="background: #88c8f517">{{ "Lab" | translate }}</th>
            <th style="background: #88c8f517">{{ "MCQ" | translate }}</th>
            <th style="background: #88c8f517">{{ "Written" | translate }}</th>
            <th style="background: #88c8f517">
              {{ "Obtained_Marks" | translate }}
            </th>
          </tr>
          <tr *ngFor="let sm of markSheet.subjectMarkList">
            <td style="background: #88c8f517">
              {{
                locale === "en"
                  ? sm.educationSubjectNameEn
                  : (sm.educationSubjectNameBn | translate)
              }}
            </td>
            <td style="background: #88c8f52b">
              {{ sm.classTestMarks | localNumber }}
            </td>
            <td style="background: #88c8f52b">
              {{ sm.attendanceMarks | localNumber }}
            </td>
            <td style="background: #88c8f52b">
              {{ sm.assignmentMarks | localNumber }}
            </td>
            <td style="background: #88c8f52b">
              {{ sm.otherMarks | localNumber }}
            </td>
            <td style="background: #88c8f517">
              {{ sm.vivaMarks | localNumber }}
            </td>
            <td style="background: #88c8f517">
              {{ sm.labMarks | localNumber }}
            </td>
            <td style="background: #88c8f517">
              {{ sm.mcqMarks | localNumber }}
            </td>
            <td style="background: #88c8f517">
              {{ sm.writtenMarks | localNumber }}
            </td>
            <td style="background: #88c8f517">
              {{ sm.obtainedMarks | localNumber }}
            </td>
            <td style="background: #88c8f52b">
              {{ sm.totalMarks | localNumber }}
            </td>
            <td style="background: #88c8f517">
              {{ sm.totalObtainedMarks | localNumber }}
            </td>
            <td style="background: #88c8f52b">
              {{ sm.gradePoint | localNumber }}
            </td>
            <td style="background: #88c8f517">
              {{ sm.letterGrade | translate }}
            </td>
          </tr>
          <tr>
            <td
              colspan="11"
              style="
                background: #88c8f585;
                text-align: left;
                padding-left: 60px;
              "
            >
              {{ "Total" | translate }}
            </td>
            <td style="background: #88c8f585">
              {{ totalMarks | localNumber }}
            </td>
            <td colspan="1" style="background: #88c8f585">
              {{ totalGpa | number : "1.2-2" | localNumber }}
            </td>
            <td colspan="1" style="background: #88c8f585">
              {{ latterGrade | translate }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div
    *ngIf="exam_result === 'Final Exam Result' && selectedStudentId"
    class="row"
  >
    <div *ngIf="show_final_result" class="col-lg-12">
      <div class="create-details">
        <div class="create-details-headline">
          <h5>{{ "Final_Mark_Sheet" | translate }}</h5>
        </div>
      </div>
      <div class="viewtab-details-table">
        <table class="table" style="width: 100%">
          <tr>
            <th
              style="background: #88c8f585"
              [attr.colspan]="dynamicallyColSpan"
            >
              {{ "Name" | translate }} :
              {{
                locale === "en" ? finalMarkSheet.nameEn : finalMarkSheet.nameBn
              }}
            </th>
            <th style="background: #88c8f585" colspan="2">
              {{ "Roll" | translate }} :
              {{ finalMarkSheet.roll | localNumber }}
            </th>
            <th style="background: #88c8f585" colspan="1">
              {{ "Class" | translate }} :
              {{
                locale === "en"
                  ? finalMarkSheet.instituteClassNameEn
                  : finalMarkSheet.instituteClassNameBn
              }}
            </th>
            <th style="background: #88c8f585" colspan="2">
              {{ "Group" | translate }} :
              {{
                locale === "en"
                  ? finalMarkSheet.instituteClassGroupNameEn
                  : finalMarkSheet.instituteClassGroupNameBn
              }}
            </th>
            <th style="background: #88c8f585" colspan="1">
              {{ "Section" | translate }} :
              {{
                locale === "en"
                  ? finalMarkSheet.instituteClassSectionNameEn
                  : finalMarkSheet.instituteClassSectionNameBn
              }}
            </th>
          </tr>
          <tr></tr>
          <tr>
            <th style="background: #88c8f517" rowspan="2">
              {{ "Subject_Name" | translate }}
            </th>
            <th
              *ngFor="let term of finalMarkSheet.termList"
              style="background: #88c8f52b"
              colspan="2"
            >
              {{ locale === "en" ? term.termNameEn : term.termNameBn }} (
              {{ term.finalResultPercentage | localNumber }}
              {{ "%" | translate }} )
            </th>
            <th style="background: #88c8f517" rowspan="2">
              {{ "Subject_Marks" | translate }}
            </th>
            <th style="background: #88c8f52b" rowspan="2">
              {{ "Total_Obtained_Marks" | translate }}
            </th>
            <th style="background: #88c8f517" rowspan="2">
              {{ "Grade_Point" | translate }}
            </th>
            <th style="background: #88c8f52b" rowspan="2">
              {{ "Latter_Grade" | translate }}
            </th>
          </tr>
          <tr>
            <th
              colspan="2"
              *ngFor="let term of finalMarkSheet.termList"
              style="background: #88c8f52b"
            >
              <div class="final-mark">
                <span>{{ "Obtained_Marks" | translate }}</span>
                <span>
                  {{ locale === "en" ? term.termNameEn : term.termNameBn }}
                  {{ "From" | translate }}
                  {{ term.finalResultPercentage | localNumber }}
                  ( {{ "%" | translate }} )
                </span>
              </div>
            </th>
          </tr>
          <tr *ngFor="let subject of finalMarkSheet.subjectList">
            <td style="background: #88c8f517">
              {{
                locale === "en"
                  ? subject.educationSubjectNameEn
                  : subject.educationSubjectNameBn
              }}
            </td>
            <td
              colspan="2"
              *ngFor="let term of finalMarkSheet.termList"
              style="background: #88c8f52b"
            >
              <div
                *ngFor="let ss of term.subjectMarkList"
                class="final-mark-details"
              >
                <span
                  style="padding-left: 10px"
                  *ngIf="ss.educationSubjectOid === subject.educationSubjectOid"
                  >{{ ss.obtainedMarks }}</span
                >
                <span
                  style="padding-right: 60px"
                  *ngIf="ss.educationSubjectOid === subject.educationSubjectOid"
                  >{{ ss.totalObtainedMarks }}</span
                >
              </div>
            </td>
            <td style="background: #88c8f517">
              {{ getSubjectMark(subject) | localNumber }}
            </td>
            <td style="background: #88c8f52b">
              {{ calculateTotalObtainNumber(subject) | localNumber }}
            </td>
            <td style="background: #88c8f517">
              {{ calculateGradingPointSystem(subject) | localNumber }}
            </td>
            <td style="background: #88c8f52b">
              {{ calculateGradingLatterSystem(subject) }}
            </td>
          </tr>

          <tr>
            <td
              [attr.colspan]="dynamicallyColSpanForTotal"
              style="
                background: #88c8f585;
                text-align: left;
                padding-left: 60px;
              "
            >
              {{ "Total" | translate }}
            </td>
            <td style="background: hsla(205, 84%, 75%, 0.522)">
              {{ calculateTotalFinalObtainMark() | localNumber }}
            </td>
            <td colspan="1" style="background: #88c8f585">
              {{ calculateTotalFinalGPA() | number : "1.2-2" | localNumber }}
            </td>
            <td colspan="1" style="background: #88c8f585">
              {{ calculateTotalFinalLatterGrade() | localNumber }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="{{ spinnerConfig.bdColor }}"
  size="large"
  color="{{ spinnerConfig.color }}"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
