$primary: #2886c9;
$secondary: #88c8f5;
// $secondary: #75bcee6b;

$lightBoxShadow: #2886c957;
$veryLightBoxShadow: #2886c929;
$buttonColor: #007cd5e6;
$buttonHoverColor: #0d70b7;
$transparentPrimary: #88c8f517;
$transparentSecondary: #88c8f526;
$formsBoxShadow: #c6c6c647;
// $transparentPrimary: #88c8f50d;
$textColorPrimary: #686868;
$oldSidebarBackground: #181818;


$black: black;
$white: white;
$dark: black;


//bootstrap colors##17a2b8
$bootstrapSuccess: #28a745;
$bootstrapSuccessHover: #13832d;
$bootstrapDanger: #dc3545;
$bootstrapInfo: #17a2b8;

//NEW THEME
$primaryLight: #37c8ff;
$buttonColorLight: #01b9ff;
$buttonHoverColorLight: #01b9ff;
$inputLabelColor: #000000d1;
$inputLabelIconColor: #000000d1;
$sidebarBackground: #000000e8;
$boxShadowPreviewHead: #37c8ff2b;



$allCommonListBoxShadow: #f0f0f0;
$userPhotoBorder: #aaa5b496;
$inputOnFocusBorder: #63b8fa;
$inputOnFocusBoxShadow: rgba(99, 184, 250, 0.25);