@import "../../../../shared/styles/all-common.scss";

.child-select-container {
    border: 1px solid #e2e2e2;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 7px 1px #e6e6e673;

    .selected-student-table {
        .user-photo {
            width: 44px;
            border: 3px solid #b0b0b0;
            border-radius: 50%;
        }
    }
}

.child-select {

    ::ng-deep {
        .mat-form-field {
            width: 100%;
        }
    }
}

.list-header-container {
    flex-wrap: wrap;
    display: flex;
    border: 1px solid #e2e2e2;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 7px 1px #e6e6e673;

    .item {
        margin: auto 10px;
        min-width: 140px;
        padding: 5px 0;

        .select-option-cs {
            padding-bottom: 5px;
            font-style: italic;
            font-weight: 500;
        }

        .mat-search-container {
            display: flex;

            .btn {
                width: 65px;
                margin-left: 15px;
            }
        }
    }

    .add-button-item {
        min-width: 37px;

        .btn {
            height: 45px;
            width: 45px;
        }
    }

    .button-item {
        .btn {
            height: 45px;
            min-width: 48px;

            .fa-file-pdf {
                font-size: 25px;
            }
        }
    }

    .pdf-button-item {
        min-width: auto;
    }

    .switch-container-item {
        min-width: unset;

        .switch-container {
            position: relative;
            top: 10px;
        }
    }

    .ng-select-container {
        // width: 300px;

        .ng-select {
            margin-left: 0;
        }
    }

    // .ng-select-container[_ngcontent-yfe-c265] .ng-select{
    // }


}

.input-group._toastr .input-group-prepend._toastr .input-group-text._toastr {
    width: 150px;
}