<section id="All-form-page">
    <div *ngIf="isShowForm" class="create-header">
        <h4>{{'Guardian_Information' |translate}}</h4>
    </div>
    <div *ngIf="isShowForm" class="preview-body mt-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="preview-details-box">
                    <div class="detail-form-field" style="border-bottom: unset;">
                        <div class="row">
                            <div class="col-lg-6 left-section">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Full_Name_Bangla' | translate}}: <span>*</span>
                                            </p>
                                        </div>
                                    </div>
                                    <input #guardianNameBn type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.guardianNameBn" name="guardianNameBn"
                                        id="guardianNameBn" placeholder="{{'Full_Name_Bangla' | translate}}" required
                                        autocomplete="off" />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Full_Name_English' | translate}}:
                                                <span>*</span>
                                            </p>
                                        </div>
                                    </div>
                                    <input #guardianNameEn type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.guardianNameEn" name="guardianNameEn"
                                        id="guardianNameEn" placeholder="{{'Full_Name_English' | translate}}" required
                                        upperCase autocomplete="off" />
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Date Of Birth'|translate}} :
                                                <span>*</span>
                                            </p>
                                        </div>
                                    </div>
                                    <input #dateOfBirth type="text" placeholder="{{'Date of Birth'|translate}}"
                                        class="form-control" bsDatepicker [bsConfig]="{ containerClass: 'theme-blue'}"
                                        name="dateofbirth" required id="dateOfBirth"
                                        [(ngModel)]="addNewGuardianRequestBody.dateOfBirth">
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Gender' | translate}} : <span>*</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="check-group">
                                        <div class="form-check">
                                            <input id="genderM" #gender class="form-check-input"
                                                [(ngModel)]="addNewGuardianRequestBody.gender" type="radio"
                                                name="gender" value="Male" />
                                            <label class="form-check-label" for="genderM">{{'Male'|translate}}</label>
                                        </div>
                                        <div class="form-check">
                                            <input id="genderF" #gender class="form-check-input"
                                                [(ngModel)]="addNewGuardianRequestBody.gender" type="radio"
                                                name="gender" value="Female" />
                                            <label class="form-check-label" for="genderF">{{'Female'|translate}}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{'Religion'|translate}} : <span>*</span></p>
                                        </div>
                                    </div>
                                    <ng-select #religion name="religion" id="religion"
                                        [(ngModel)]="addNewGuardianRequestBody.religion"
                                        placeholder="{{'Select_Religion' |translate}}"
                                        [ngModelOptions]="{standalone: true}">
                                        <ng-option *ngFor="let obj of religionList" [value]="obj.value">
                                            {{locale==='en'? obj.nameEn : obj.nameBn}}
                                        </ng-option>
                                    </ng-select>
                                </div>




                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{'Blood Group'|translate}} :</p>
                                        </div>
                                    </div>
                                    <ng-select #bloodGroup name="bloodGroup" id="bloodGroup"
                                        [(ngModel)]="addNewGuardianRequestBody.bloodGroup"
                                        placeholder="{{'Select_Blood_Group' |translate}}"
                                        [ngModelOptions]="{standalone: true}">
                                        <ng-option *ngFor="let obj of bloodGroupList" [value]="obj.value">
                                            {{locale==='en'? obj.nameEn : obj.nameBn}}
                                        </ng-option>
                                    </ng-select>
                                </div>


                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Nationality' | translate}} :
                                                <span>*</span>
                                            </p>
                                        </div>
                                    </div>
                                    <input #nationality type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.nationality" name="nationality"
                                        id="nationality" placeholder="{{'Nationality' | translate}}" required
                                        autocomplete="off" />

                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Educational Qualification'|translate}} :
                                                <span>*</span>
                                            </p>
                                        </div>
                                    </div>
                                    <input #educationalQualification type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.educationalQualification"
                                        name="educationalQualification" id="educationalQualification"
                                        placeholder="{{'Educational Qualification'|translate}}" required
                                        autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-lg-6 right-section">
                                <div class="row flex-column-reverse flex-lg-row">
                                    <div class="col-lg-12">

                                        <!--MESSEAGE-->
                                        <div class="mb-3" [ngClass]="{
                                                                          'notification-message': true,
                                                                          'custom-notification-default': notificationType == 'default',
                                                                          'custom-notification-warning': notificationType == 'warning',
                                                                          'custom-notification-success': notificationType == 'success',
                                                                          'custom-notification-danger': notificationType == 'danger',
                                                                          'custom-notification-info': notificationType == 'info'
                                                                        }" *ngIf="isShowNotificationMessage">
                                            <div class="notification-text-wrapper">
                                                <p class="notification-text">
                                                    {{ notificationMessage | localNumber }}
                                                    <a *ngIf="isShowPhotoResizeLink" href="https://www.resizepixel.com/"
                                                        target="_blank" class="resizePhotoLink">resizepixel.com</a>
                                                </p>
                                                <span class="bold1"></span>
                                                <span class="bold2"></span>
                                                <span class="bold3"></span>
                                                <span class="bold4"></span>
                                            </div>
                                        </div>
                                        <!--MESSEAGE-->
                                        <div for="file" class="input-box" style="width: 100%;">
                                            <label for="file" *ngIf="url == null">
                                                <i class="fa-solid fa-user"></i>
                                                <i class="fa fa-upload" aria-hidden="true"></i>
                                                <p class="photo-upload-text">{{'Upload_Photo'|translate}}</p>
                                                <p class="mt-2">{{'300'|localNumber}} x {{'300'|localNumber}}({{'50kb
                                                    max'|translate}})</p>
                                            </label>
                                            <label for="file" *ngIf="url != null"><img class="selected-image"
                                                    id="file-image" [src]="url" height="200">
                                                <i class="fa-solid fa-rotate-left"></i>
                                                <p *ngIf="url != null" class="photo-upload-text">
                                                    {{'Change_Photo'|translate}}
                                                </p>
                                            </label>
                                            <input #uploadImage type="file" value='url' multiple id="file"
                                                (change)="onSelect($event)" class="form-control d-none"
                                                name="imageName">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <p>
                                                        {{'Mobile No.' | translate}} :
                                                        <span>*</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <input #mobileNo type="text" class="form-control"
                                                [(ngModel)]="addNewGuardianRequestBody.mobileNo" name="mobileNo"
                                                id="mobileNo" pattern="{{ mobileNoPattern }}"
                                                placeholder="{{'Mobile No.' | translate}}" autocomplete="off"
                                                maxlength="14" required />
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <p>
                                                        {{'Emergency_Contact_No' | translate}} :
                                                    </p>
                                                </div>
                                            </div>
                                            <input #emergencyContactNumber type="text" class="form-control"
                                                [(ngModel)]="addNewGuardianRequestBody.emergencyContactNumber"
                                                name="emergencyContactNumber" id="emergencyContactNumber"
                                                placeholder="{{'Emergency_Contact_No' | translate}}"
                                                autocomplete="off" />
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <p>{{'Email' | translate}} :</p>
                                                </div>
                                            </div>
                                            <input type="email" #email class="form-control"
                                                [(ngModel)]="addNewGuardianRequestBody.email"
                                                pattern="{{ emailPattern }}" name="emailId" id="email"
                                                placeholder="{{'Email' | translate}}" autocomplete="off" />
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <p>
                                                        {{'Login_Id'|translate}} :
                                                        <span>*</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <input #loginId type="text" class="form-control"
                                                [(ngModel)]="addNewGuardianRequestBody.loginId" name="loginId"
                                                id="loginId" placeholder="{{'Login_Id'|translate}}" required
                                                autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="detail-form-field select-guardian-student">
                        <p class="sub-create-header">{{'Child_Information'|translate}}</p>
                        <div class="col-sm-12">
                            <div class="list-header-container">
                                <!-- Notification Message -->
                                <div class="pb-2 " [ngClass]="{
                               'notification-message': true,
                               'custom-notification-default': notificationType == 'default',
                               'custom-notification-warning': notificationType == 'warning',
                               'custom-notification-success': notificationType == 'success',
                               'custom-notification-danger': notificationType == 'danger',
                               'custom-notification-info': notificationType == 'info'
                             }" *ngIf="isShowNotificationMessageStudentList">
                                    <div class="notification-text-wrapper">
                                        <p class="notification-text">
                                            {{ notificationMessage | translate }}
                                        </p>
                                        <span class="bold1"></span>
                                        <span class="bold2"></span>
                                        <span class="bold3"></span>
                                        <span class="bold4"></span>
                                    </div>
                                </div>
                                <!-- Notification Message -->
                                <div class="item">
                                    <p class="select-option-cs">{{'Institute' |translate}}</p>
                                    <div class="ng-select-container">
                                        <ng-select #selectInstitute name="selectInstitute" id="selectInstitute"
                                            [(ngModel)]="selectedInstitute"
                                            placeholder="{{'Select_Institute' |translate}}"
                                            (change)="getInstituteInformation()">
                                            <ng-option *ngFor="let institute of instituteList" [value]="institute.oid">
                                                {{locale==='en'? institute.nameEn : institute.nameBn}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="select-option-cs">{{'Session' |translate}}</p>
                                    <div class="ng-select-container">
                                        <ng-select #selectSession name="selectSession" id="selectSession"
                                            [(ngModel)]="selectedSession" placeholder="{{'Select Session' |translate}}"
                                            (change)="loadClassBySession(selectedSession)">
                                            <ng-option *ngFor="let session of sessionList" [value]="session.oid">
                                                {{locale==='en'? session.nameEn : session.nameBn}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="isShowSelectVersion" class="item">
                                    <p class="select-option-cs">{{'Version' |translate}}</p>
                                    <div class="ng-select-container">
                                        <ng-select #selectVersion name="selectVersion" id="selectVersion"
                                            [(ngModel)]="selectedVersion" placeholder="{{'Select Shift' |translate}}"
                                            (change)="loadSectionData('')">
                                            <ng-option *ngFor="let version of versionList" [value]="version.oid">
                                                {{locale==='en'? version.nameEn : version.nameBn}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="isShowSelectShift" class="item">
                                    <p class="select-option-cs">{{'Shift' |translate}}</p>
                                    <div class="ng-select-container">
                                        <ng-select #selectShift name="selectShift" id="selectShift"
                                            [(ngModel)]="selectedShift" placeholder="{{'Select Shift' |translate}}">
                                            <ng-option *ngFor="let shift of shiftList" [value]="shift.oid">
                                                {{locale==='en'? shift.nameEn : shift.nameBn}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="select-option-cs">{{'Class' |translate}}</p>
                                    <div class="ng-select-container">
                                        <ng-select #selectClass name="selectClass" id="selectClass"
                                            [(ngModel)]="selectedClass" placeholder="{{'Select Class' |translate}}"
                                            (change)="loadSectionData('class')">
                                            <ng-option *ngFor="let class of classList" [value]="class.oid">
                                                {{locale==='en'? class.nameEn : class.nameBn}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="isShowClassGroup" class="item">
                                    <p class="select-option-cs">{{'Class Group' |translate}}</p>
                                    <div class="ng-select-container">
                                        <ng-select #selectGroup name="selectGroup" id="selectGroup"
                                            [(ngModel)]="selectedClassGroup" placeholder="{{'Select Group' |translate}}"
                                            (change)="loadSectionData('')">
                                            <ng-option *ngFor="let group of classGroupList"
                                                [value]="group.instituteClassGroupOid">
                                                {{locale==='en'? group.groupNameEn : group.groupNameBn}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="isShowSection" class="item">
                                    <p class="select-option-cs">{{'Section' |translate}}</p>
                                    <div class="ng-select-container">
                                        <ng-select #selectSection name="selectSection" id="selectSection"
                                            [(ngModel)]="selectedClassSection"
                                            placeholder="{{'Select Section' |translate}}">
                                            <ng-option *ngFor="let section of sectionList" [value]="section.oid">
                                                {{locale==='en'? section.nameEn : section.nameBn}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="enableSearchButton" class="item button-item">
                                    <p class="select-option-cs" style="visibility: hidden;">{{'Hidden' |translate}}</p>
                                    <button type="button" (click)="getStudentList()" class="btn btn-outline-success">
                                        <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;
                                        {{'Search' | translate}}
                                    </button>
                                </div>
                                <div *ngIf="!enableSearchButton" class="item button-item">
                                    <p class="select-option-cs" style="visibility: hidden;">{{'Hidden' |translate}}</p>
                                    <button disabled type="button" (click)="getStudentList('')"
                                        class="btn btn-outline-success">
                                        <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;
                                        {{'Search' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="isShowSelectChild" class="col-sm-12 mt-4">
                            <div class="child-select-container">
                                <div class="child-select">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <p>{{'Student'|translate}} : <span>*</span></p>
                                            </div>
                                        </div>
                                        <div class="ng-select-container" style="width: 370px;">
                                            <ng-select #studentId name="studentId" id="studentId"
                                                [(ngModel)]="addNewGuardianRequestBody.studentId"
                                                placeholder="{{'Select_Student'|translate}}"
                                                (change)="getStudentProfileInfo(addNewGuardianRequestBody.studentId)">
                                                <ng-option *ngFor="let student of studentList"
                                                    [value]="student.studentId">
                                                    {{locale == 'en' ? student.nameEn : student.nameBn}} --
                                                    {{locale == 'en' ? student.classNameEn : student.classNameBn}} --
                                                    {{locale == 'en' ? student.instituteClassSectionNameEn : student.instituteClassSectionNameBn}}
                                                    -- {{ student.rollNumber | localNumber }}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="isShowChildTable" class="selected-student-table viewtab-details-table pt-4">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{{'Photo'|translate}}</th>
                                                <th scope="col">{{'Student_Id'|translate}}</th>
                                                <th scope="col">{{'Name'|translate}}</th>
                                                <th scope="col">{{'Class'|translate}}</th>
                                                <th scope="col">{{'Section'|translate}}</th>
                                                <th style="text-align: right;" scope="col">{{'Actions'|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tempDataItem of tempData;let index=index">
                                                <th scope="row" style="vertical-align: middle;">
                                                    {{index+1 | localNumber}}
                                                </th>
                                                <td *ngIf="tempDataItem.url">
                                                    <img class="user-photo" src="{{tempDataItem.url}}" alt="Photo">
                                                </td>
                                                <td *ngIf="!tempDataItem.url">
                                                    <img class="user-photo" *ngIf="!tempDataItem.url"
                                                        src="./assets/img/default_avater.jpg" alt="Photo">
                                                </td>
                                                <td>{{tempDataItem.studentId | localNumber}}</td>
                                                <td>{{locale == 'en' ? tempDataItem.nameEn : tempDataItem.nameBn}}</td>
                                                <td>{{locale == 'en' ? tempDataItem.classNameEn : tempDataItem.classNameBn }}
                                                </td>
                                                <td>{{locale == 'en' ? tempDataItem.sectionEn : tempDataItem.sectionBn }}
                                                </td>

                                                <td style="text-align: right;">
                                                    <button (click)="removeStudent(index)" type="button"
                                                        class="btn btn-outline-danger btn-sm" style="cursor: pointer"
                                                        title="Delete Student">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="detail-form-field">
                        <p class="sub-create-header">{{'Address'|translate}}</p>
                        <div class="row">
                            <div class="col-lg-6 left-section">
                                <div class="sub-create-header">
                                    {{ 'Present Address' | translate }}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{'Care_Of' | translate}} :</p>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <input #presentAddressCareOf type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.presentAddress.careOf"
                                        name="presentCareOf" id="presentCareOf" placeholder="{{'Care_Of' | translate}}"
                                        autocomplete="off" required />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{'House_No' | translate}} :</p>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <input #presentAddressHouseNo type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.presentAddress.houseNo"
                                        name="presentHouseNo" id="presentHouseNo"
                                        placeholder="{{'House_No' | translate}}" autocomplete="off" required />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Road_No' | translate}} :
                                            </p>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <input #presentAddressRoadNo type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.presentAddress.roadNo"
                                        name="presentRoadNo" id="presentAddressRoadNo"
                                        placeholder="{{'Road_No' | translate}}" autocomplete="off" required />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Post_Office' | translate}}:
                                            </p>
                                        </div>
                                    </div>
                                    <input #presentAddressPostOffice type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.presentAddress.postOffice"
                                        name="presentPostOffice" id="presentAddressPostOffice"
                                        placeholder="{{'Post_Office' | translate}}" autocomplete="off" />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Post_Code' | translate}}:
                                            </p>
                                        </div>
                                    </div>
                                    <input #presentAddressPostcode type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.presentAddress.postcode"
                                        name="presentAddressPostcode" id="presentAddressPostcode"
                                        placeholder="{{'Post_Code' | translate}}" autocomplete="off" />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{ 'District' | translate }} : <span>*</span></p>
                                        </div>
                                    </div>
                                    <ng-select #presentAddressDistrict id="presentAddressDistrict"
                                        name="presentAddressDistrict"
                                        [(ngModel)]="addNewGuardianRequestBody.presentAddress.districtOid"
                                        placeholder="{{'Select District' |translate}}"
                                        (change)="loadPresentAdressThana()">
                                        <ng-option *ngFor="let district of districtList" [value]="district.oid">
                                            {{locale==='en'? district.nameEn : district.nameBn}}
                                        </ng-option>
                                    </ng-select>

                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{ 'Thana' | translate }} : <span>*</span></p>
                                        </div>
                                    </div>
                                    <ng-select #presentAddressThana id="presentAddressThana" name="presentAddressThana"
                                        [(ngModel)]="addNewGuardianRequestBody.presentAddress.thanaOid"
                                        placeholder="{{'Select_Thana' |translate}}">
                                        <ng-option *ngFor="let presentThana of presentThanaList"
                                            [value]="presentThana.oid">
                                            {{locale==='en'? presentThana.nameEn : presentThana.nameBn}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-lg-6 right-section">
                                <div class="sub-create-header">
                                    {{ 'Permanent Address' | translate }}
                                    <span>(&nbsp;<mat-checkbox class="mat-checkbox" (change)="
                                            changeAddressSelection($event.checked)
                                          " [checked]="!isAddressSameAsChecked">
                                            <span>{{'Same_as_Present_Address' | translate  }}</span>
                                        </mat-checkbox>&nbsp;)</span>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{'Care_Of' | translate}}:</p>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <input #permanentAddressCareOf type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.permanentAddress.careOf"
                                        name="permanentCareOf" id="permanentCareOf"
                                        placeholder="{{'Care_Of' | translate}}" autocomplete="off" required />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{'House_No' | translate}}:</p>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <input #permanentAddressHouseNo type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.permanentAddress.houseNo"
                                        name="permanentHouseNo" id="permanentHouseNo"
                                        placeholder="{{'House_No' | translate}}" autocomplete="off" required />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Road_No' | translate}} :
                                            </p>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <input #permanentAddressRoadNo type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.permanentAddress.roadNo"
                                        name="permanentRoadNo" id="permanentAddressRoadNo"
                                        placeholder="{{'Road_No' | translate}}" autocomplete="off" required />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Post_Office' | translate}}:
                                            </p>
                                        </div>
                                    </div>
                                    <input #permanentAddressPostOffice type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.permanentAddress.postOffice"
                                        name="permanentPostOffice" id="permanentAddressPostOffice"
                                        placeholder="{{'Post_Office' | translate}}" autocomplete="off" />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>
                                                {{'Post_Code' | translate}}:
                                            </p>
                                        </div>
                                    </div>
                                    <input #permanentAddressPostcode type="text" class="form-control"
                                        [(ngModel)]="addNewGuardianRequestBody.permanentAddress.postcode"
                                        name="permanentPostcode" id="permanentAddressPostcode"
                                        placeholder="{{'Post_Code' | translate}}" autocomplete="off" />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{ 'District' | translate }} : <span>*</span></p>
                                        </div>
                                    </div>

                                    <ng-select #permanentAddressDistrict id="permanentAddressDistrict"
                                        name="permanentAddressDistrict"
                                        [(ngModel)]="addNewGuardianRequestBody.permanentAddress.districtOid"
                                        placeholder="{{'Select District' |translate}}"
                                        (change)="loadPermanentAdressThana()">
                                        <ng-option *ngFor="let district of districtList" [value]="district.oid">
                                            {{locale==='en'? district.nameEn : district.nameBn}}
                                        </ng-option>
                                    </ng-select>

                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <p>{{ 'Thana' | translate }} : <span>*</span></p>
                                        </div>
                                    </div>
                                    <ng-select #permanentAddressThana id="permanentAddressThana"
                                        name="permanentAddressThana"
                                        [(ngModel)]="addNewGuardianRequestBody.permanentAddress.thanaOid"
                                        placeholder="{{'Select_Thana' |translate}}">
                                        <ng-option *ngFor="let permanentThana of permanentThanaList"
                                            [value]="permanentThana.oid">
                                            {{locale==='en'? permanentThana.nameEn : permanentThana.nameBn}}
                                        </ng-option>
                                    </ng-select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="submit-application-button">
      <button type="button" class="btn-cmn btn-cmn-success" (click)="checkAndSubmitApplication()">
        <i class="fas fa-save"></i>
        <p>{{ 'Submit' | translate }}</p>
      </button>
    </div> -->
        <section id="btn-section" class="mt-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="all-btn-box">
                            <button type="button" class="btn btn-outline-info" (click)="goBack()">
                                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;
                                {{ 'Go Back' | translate }}
                            </button>
                            <button type="button" (click)="checkAndSubmitApplication()" class="btn btn-outline-success">
                                <i class="fa fa-edit"></i>&nbsp;&nbsp;
                                {{'Save' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div *ngIf="isShowSuccessMsg" class="preview-body">
        <div class="success-msg-container">
            <div class="succes-icon-container">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <p class="header-msg">{{'Thank_You'|translate}} !!!</p>
            <p class="details-msg">Guardian was added Successfully</p>
            <p class="home-page-link">Go to <a routerLink='/school/guardian/list'>Guardian List</a></p>
        </div>
    </div>
</section>

<ngx-spinner bdColor="{{spinnerConfig.bdColor}}" size="large" color="{{spinnerConfig.color}}"
    type="ball-clip-rotate-multiple" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
