<section id="appViewPage">
    <!-- Create Part Start -->
    <section id="create-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="create-header main-title">
                        <h4 class="just-grd">
                            Edit Education Shift
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="create-details">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text justify-content-start">
                                    <p>Education System <span>*</span></p>
                                </div>
                            </div>
                            <select name="educationSystem" id="educationSystem" class="form-control select-arrow">
                                <option value="undefined" selected disabled>-- Select Education System --
                                </option>
                            </select>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text justify-content-start">
                                    <p>Shift Name (English) <span>*</span></p>
                                </div>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="entity.nameEnglish">
                            <!-- <input #nameEn type="text" class="form-control" [(ngModel)]="entity.nameEnglish"
                                value="entity.nameEnglish" name="nameEnglish" id="nameEn" placeholder="Name in English "
                                required upperCase /> -->
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text justify-content-start">
                                    <p>Status <span>*</span></p>
                                </div>
                            </div>
                            <select name="status" id="status" class="form-control select-arrow">
                                <option value="undefined" selected disabled>-- Select Status --
                                </option>
                                <option value="Active" selected disabled>Active
                                </option>
                                <option value="Inactive" selected disabled>Inactive
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="create-details">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text justify-content-start">
                                    <p>Education Curriculum <span>*</span></p>
                                </div>
                            </div>
                            <select name="educationSystem" id="educationSystem" class="form-control select-arrow">
                                <option value="undefined" selected disabled>-- Select Education Curriculum --
                                </option>
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text justify-content-start">
                                    <p>Shift Name (Bangla) <span>*</span></p>
                                </div>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="entity.nameBangla">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Create Part End -->

    <!-- Tab Btn Info Part Start -->
    <section id="btn-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="all-btn-box">
                        <button type="button" class="btn btn-outline-success">
                            <i class="fas fa-save"></i>&nbsp;&nbsp; Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tab Btn Info Part End -->
</section>
