<div class="footer bg-dark">
  <span>Doer School</span>
</div>
<!-- Web Footer Section Starts
<div class="footer-main">
  <div class="row menu-part">
    <div class="col-md-4">
      <div class="footer-left">
        <img class="logo" src="../../../../assets/img/myacademy.png" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="footer-right-menu-part">
        <div class="row">
          <div class="col-6 col-sm-4">
            <div class="footer-menu">
              <h4>Academics</h4>
              <ul>
                <li>
                  <a routerLink="#">Company</a>
                </li>
                <li>
                  <a routerLink="#">Leadership</a>
                </li>
                <li>
                  <a routerLink="#">Careers</a>
                </li>
                <li>
                  <a routerLink="#">Social Impact</a>
                </li>
                <li>
                  <a routerLink="#">News & Articles</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="footer-menu">
              <h4>About</h4>
              <ul>
                <li>
                  <a routerLink="/life-insurance/endowment-plan">Link 1</a>
                </li>
                <li>
                  <a routerLink="/motor-insurance/private-motor-plan">
                    Link 2
                  </a>
                </li>
                <li>
                  <a routerLink="/health-insurance">
                    Link 3
                  </a>
                </li>
                <li>
                  <a routerLink="/life-insurance/child-plan">
                    Link 4
                  </a>
                </li>
                <li>
                  <a routerLink="/travel-insurance">
                    Link 5
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="footer-menu">
              <h4>Contact Us</h4>
              <ul>
                <li>
                  <a routerLink="#">Link 6</a>
                </li>
                <li>
                  <a routerLink="#">Link 7</a>
                </li>
                <li>
                  <a routerLink="#">
                    Link 8
                  </a>
                </li>
                <li>
                  <a routerLink="#">Link 3</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row download-apps-part">
    <div class="col-sm-5 footer-left">
      <p class="download-text" style="font-weight: 600">
        DOWNLOAD THE APP
      </p>
      <div class="download-logos">
        <a routerLink="#"><img src="../../../../assets/img/footer/googleplay.png" /></a>
        <a routerLink="#"><img src="../../../../assets/img/footer/appstore.png" /></a>
      </div>
    </div>
    <div class="col-sm-7 footer-right-download-part">
      <div class="social-icons">
        <a routerLink="#"><i class="fab fa-facebook"></i></a>
        <a routerLink="#"><i class="fab fa-instagram"></i></a>
        <a routerLink="#"><i class="fab fa-twitter"></i></a>
      </div>
      <p>© All rights reserved by <a href="http://doer.com.bd/" target="_blank" class="doer-service-link">Doer Service
          Ltd.</a></p>
    </div>
  </div>
</div> -->
