@import "../../../../../../school-erp/common/shared/styles/list-css/all-list.scss";

img {

    border-radius: 50%;
    height: 44px;
    width: 45px;
    border: solid 3px #aaa5b496;

}

.common-list .mat-cell:last-child {
    border-right: 1px solid #88c8f5;
    text-align: center !important;
}