// 768px
.page-wrapper {
    // padding-top: 93px;
    // height: 100vh;
  
    .page-content {
      display: inline-block;
      width: 100%;
      transition: padding-left .3s ease;

  
      @media screen and (min-width: 900px) {
        padding-left: 260px;
      }
  
      .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 998;
        background: #000;
        opacity: .5;
        display: none;
  
        &.show {
  
          @media screen and (max-width: 768px) {
            display: block;
          }
        }
      }
    }
  
    &.toggled {
  
      .page-content {
        padding-left: 0;
      }
    }
  
    .attribution{
      position: fixed;
      bottom: 0;
      right: 0;
      padding: 5px;
      margin: 5px;
      letter-spacing: 1px;
    }
  
  }

  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 0px;
  }

  .container-box{
    background: linear-gradient(to top,#2980b9,#2c3e50);
    min-height: 100%;
  }